<!doctype html>

<html>

<head>
    <meta charset="utf-8">

    <title>Karaoke Mugen</title>
    <meta name="description" content="karaoke">
    <meta name="author" content="mugen.karaokes.moe">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />

    <link rel="stylesheet" href="/vendors/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/css/bootstrap-switch.min.css">
    <link rel="stylesheet" href="/vendors/css/select2.min.css">
    <link rel="stylesheet" href="/vendors/css/select2-bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="/vendors/css/introjs.min.css">
    <link rel="stylesheet" href="/ressources/css/karaokemugen.css">
    <link rel="stylesheet" href="/ressources/css/public.css">
    
</head>

<body scope="public" class='mode{{webappMode}}'>
	{{{body}}}
    
    <a id="downloadAnchorElem"></a>
</body>
    <script>
        var scope = 'public';
        var query = {{{query}}};
        var webappMode = {{webappMode}};
        var onlineHost = "{{onlineHost}}";
    </script>
   {{#if_eq webappMode "0"}}

   {{else}}
        <script src="/socket.io/socket.io.js"></script>
        <script src="/vendors/js/iso_639-2.js"></script>
        <script src="/vendors/js/assignIE.js"></script>
        <script src="/vendors/js/jquery-3.2.1.min.js"></script>
        <script src="/vendors/js/select2.min.js"></script>
        <script src="/vendors/js/bootstrap.min.js"></script>
        <script src="/vendors/js/bootstrap-switch.min.js"></script>
        <script src="/vendors/js/velocity.min.js"></script>
        <script src="/vendors/js/hammer.min.js"></script>
        <script src="/vendors/js/hammer-time.min.js"></script>
        <script src="/vendors/js/perfect-scrollbar.jquery.min.js"></script>
        <script src="/vendors/js/i18n.js"></script>
        <script src="/vendors/js/intro.js"></script>
        <script src="/vendors/js/f.min.js"></script>
        <script src="/vendors/js/sprintf.min.js"></script>
        <script src="/ressources/js/karaokemugen.js"></script>
        <script src="/ressources/js/tools.js"></script>
        <script src="/ressources/js/public.js"></script>
    {{/if_eq}}
</html>