<!doctype html>

<html>

<head>
    <meta charset="utf-8">

    <title>Karaoke Mugen - ADMIN</title>
    <meta name="description" content="karaoke">
    <meta name="author" content="mugen.karaokes.moe">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    
    <link rel='shortcut icon' type='image/x-icon' href='/favicon2.ico' />

    <link rel="stylesheet" href="/vendors/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/css/bootstrap-switch.min.css">
    <link rel="stylesheet" href="/vendors/css/select2.min.css">
    <link rel="stylesheet" href="/vendors/css/select2-bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/vendors/css/perfect-scrollbar.min.css"> 
    <link rel="stylesheet" href="/ressources/css/karaokemugen.css">
    <link rel="stylesheet" href="/ressources/css/admin.css">

</head>

<body>
	{{{ body }}}
</body>
    <script>
        var query = {{{query}}};
        var mdpAdmin = "{{mdpAdmin}}";
        var settingsOnOff = {
            "PlayerPIP": "{{i18n "PLAYERPIP"}}"
            , "EngineDisplayConnectionInfo": "{{i18n "ENGINEDISPLAYCONNECTIONINFO"}}"
            , "EngineAllowViewBlacklist": "{{i18n "ENGINEALLOWVIEWBLACKLIST"}}"
            , "EngineAllowViewBlacklistCriterias": "{{i18n "ENGINEALLOWVIEWBLACKLISTCRITERIAS"}}"
            , "EngineAllowViewWhitelist": "{{i18n "ENGINEALLOWVIEWWHITELIST"}}"
            , "EngineDisplayNickname": "{{i18n "ENGINEDISPLAYNICKNAME"}}"
            , "PlayerNoBar": "{{i18n "PLAYERNOBAR"}}"
            , "PlayerNoHud": "{{i18n "PLAYERNOHUD"}}"
            , "EngineRepeatPlaylist": "{{i18n "ENGINEREPEATPLAYLIST"}}"
            , "EngineSmartInsert": "{{i18n "ENGINEENABLESMARTINSERT"}}"
            , "EngineAutoPlay": "{{i18n "ENGINEAUTOPLAY"}}" };
    </script>
    <script src="{{clientAdress}}:1340/socket.io/socket.io.js"></script>
    <script src="/vendors/js/assignIE.js"></script>
    <script src="/vendors/js/jquery-3.2.1.min.js"></script>
    <script src="/vendors/js/select2.min.js"></script>
    <script src="/vendors/js/bootstrap.min.js"></script>
    <script src="/vendors/js/bootstrap-switch.min.js"></script>
    <script src="/vendors/js/jquery-ui.min.js"></script>
    <script src="/vendors/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/vendors/js/hammer.min.js"></script>
    <script src="/vendors/js/hammer-time.min.js"></script>
    <script src="/vendors/js/velocity.min.js"></script>
    <script src="/vendors/js/perfect-scrollbar.jquery.min.js"></script> 
    <script src="/vendors/js/i18n.js"></script>
    <script src="/vendors/js/sprintf.min.js"></script>
    <script src="/ressources/js/karaokemugen.js"></script>
    <script src="/ressources/js/tools.js"></script>
    <script src="/ressources/js/admin.js"></script>
</html>