<div id="header" class="header">
    <button title="{{i18n "SHUTDOWN"}}" action="poweroff" class="btn btn-default btn-dark pull-right">
		<i class="glyphicon glyphicon-off"></i></button>
    <button title="{{i18n "MUTE_UNMUTE"}}" action="command" id="mutestatus" name="mute" class="btn btn-default btn-dark pull-right">
		<i class="glyphicon glyphicon-volume-up unmute"></i>
		<i class="glyphicon glyphicon-volume-off mute"></i>
		<input title='{{i18n "VOLUME_LEVEL"}}' action="command" name="setVolume" id="volume" value="100" type="range" />	
	</button>
    <button title="{{i18n "SHOW_HIDE_SUBS"}}" action="command" id="showSubs" name="hideSubs" class="btn btn-default btn-dark pull-right">
		<i class="glyphicon glyphicon-subtitles hideSubs"></i>
        <i class="glyphicon glyphicon glyphicon-question-sign showSubs"></i>
        </button>
    <div class="pull-left btn-group" style="width: 129px;">
        <input title='{{i18n "SWITCH_PRIVATE"}}' type="checkbox" name="EnginePrivateMode" class="btn btn-default pull-left" data-on-text="<i class='glyphicon glyphicon-eye-close'></i> {{i18n "PRIVATE"}}"
            data-off-text="<i class='glyphicon glyphicon-eye-open'></i> {{i18n "PUBLIC"}}" data-size="large" />
        <input title='{{i18n "SWITCH_OPTIONS"}}' type="checkbox" checked name="kara_panel" class="btn btn-default pull-left" data-off-text="<i class='glyphicon glyphicon-cog'></i>  {{i18n "OPTIONS"}}"
            data-on-text="<i class='glyphicon glyphicon glyphicon-music'></i>  {{i18n "PLAYLISTS"}}" data-size="large" />
    </div>
    <div class="pull-left btn-group">
        <button title="{{i18n "STOP_AFTER"}}" action="command" id="stopAfter" name="stopAfter" class="btn btn-danger-low" style="width: 50px;">
			<i class="glyphicon glyphicon-stop"></i><i class="glyphicon glyphicon-time secondaryIcon"></i></button>
        <button title="{{i18n "STOP_NOW"}}" action="command" id="stopNow" name="stopNow" class="btn btn-danger"> <i class="glyphicon glyphicon-stop"></i></button>
        <button title="{{i18n "REWIND"}}" action="command" id="goTo" name="goTo" value="0" class="btn btn-dark"><i class="glyphicon glyphicon-step-backward"></i></button>
    </div>
    <div id="centerBtns" class="header">
        <div class="btn-group">
            <button title="{{i18n "PREVIOUS_SONG"}}" action="command" id="prev" name="prev" class="btn btn-default"><i class="glyphicon glyphicon-backward"></i></button>
            <button title="{{i18n "PLAY_PAUSE"}}" action="command" id="status" name="play" class="btn btn-primary"><i class="glyphicon glyphicon-play play"></i><i class="glyphicon glyphicon-pause pause"></i></button>
            <button title="{{i18n "NEXT_SONG"}}" action="command" id="skip" name="skip" class="btn btn-default"><i class="glyphicon glyphicon-forward"></i></button>
            <button class="btn btn-default hidden"></button>
        </div>
    </div>
</div>
<div id="progressBar" class="underHeader">
    <div id="karaInfo" idKara="-1" ondragstart="return false" draggable="false"><span>{{i18n "KARA_PAUSED_WAITING"}}<span></div>
    <div id="progressBarColor" style="width: 0%;"></div>
</div>
<div id="underHeader" class="underHeader container-fluid">
    <div class="playlist-main row" id="playlist">
        <div class="panel col-lg-6 col-xs-6" id="panel1" num="1">
            <div class="panel-heading container-fluid plDashboard">            
                <div class="plSelect">
                    <button class="btn btn-default pull-left showPlaylistCommands" num="1">
                        <i class="glyphicon glyphicon-wrench"></i>
                    </button>
                    <select id="selectPlaylist1" num="1" type="playlist_select" class="select2" style="overflow:hidden">
                    </select>
                </div>
                  <div class="controlsContainer">
                    <div class="btn-group plCommands controls">
                        <button title='{{i18n "PLAYLIST_EDIT"}}' class="btn btn-default" name="editName">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </button>
                        <button title='{{i18n "PLAYLIST_DELETE"}}' class="btn btn-default" name="delete">
                            <i class="glyphicon glyphicon-remove red"></i>
                        </button>
                        
                         <button title='{{i18n "PLAYLIST_SHUFFLE"}}' class="btn btn-default" name="shuffle">
                            <i class="glyphicon glyphicon-random"></i>
                              </button> 
                        <button title='{{i18n "PLAYLIST_IMPORT"}}' class="btn btn-default" name="import">
                            <i class="glyphicon glyphicon-import"></i>
                        </button>
                        <button title='{{i18n "PLAYLIST_EXPORT"}}' class="btn btn-default" name="export">
                            <i class="glyphicon glyphicon-export"></i>
                        </button>
                      
                    </div>
                </div>
                <div class="plSearch">
                    <input type="text" class="form-control input-md" num="1" id="searchPlaylist1" placeholder="&#xe003;" />
                </div>
                <div class=" flagsContainer">
                    <div class="btn-group plCommands flags" id="flag1">
                        <button title='{{i18n "PLAYLIST_CURRENT"}}' class="btn btn-default" name="flag_current">
                            <i class="glyphicon glyphicon-facetime-video"></i>
                        </button>
                        <button title='{{i18n "PLAYLIST_PUBLIC"}}' class="btn btn-default" name="flag_public">
                            <i class="glyphicon glyphicon-indent-left"></i>
                        </button>
                        <button title='{{i18n "PLAYLIST_VISIBLE"}}' class="btn btn-default" name="flag_visible">
                            <i class="glyphicon glyphicon-eye-close"></i><i class="glyphicon glyphicon-eye-open"></i>
                        </button>
                    </div>
                    </div>
              
                <div class="plCommandsContainer btnDivContainer">
                    <div class="btn-group plCommands btnDiv">
                        <button name="addKara" class="btn btn-default">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                        <button name="deleteKara" class="btn btn-default">
                            <i class="glyphicon glyphicon-minus"></i>
                        </button>
                        <button name="transferKara" class="btn btn-default">
                            <i class="glyphicon glyphicon-arrow-left"></i><i class="glyphicon glyphicon-arrow-right"></i>
                        </button>
                        <button name="selectAllKaras" value="0" class="btn btn-default">
                            <i class="glyphicon glyphicon-unchecked"></i>
                            <i class="glyphicon glyphicon-check"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="playlistContainer">
                <ul id="playlist1" num="1" class="list-group">
                    <li class="list-group-item"></li>
                </ul> 
                <div class="playlistLoading"> {{i18n "LOADING"}} </div>
            </div>
        </div>
        
        <div class="panel col-lg-6 col-xs-6" id="panel2" num="2">
            <div class="panel-heading container-fluid plDashboard">            
                <div class="plSelect">
                    <button class="btn btn-default pull-left showPlaylistCommands" num="1">
                        <i class="glyphicon glyphicon-wrench"></i>
                    </button>
                    <select id="selectPlaylist2" num="2" type="playlist_select" class="select2" style="overflow:hidden">
                        </select>
                </div>
                 <div class="controlsContainer">
                    <div class="btn-group plCommands controls">
                        <button title='{{i18n "PLAYLIST_EDIT"}}' class="btn btn-default" name="editName">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </button>
                        <button title='{{i18n "PLAYLIST_DELETE"}}' class="btn btn-default" name="delete">
                            <i class="glyphicon glyphicon-remove red"></i>
                        </button>
                        <button title='{{i18n "PLAYLIST_SHUFFLE"}}' class="btn btn-default" name="shuffle">
                            <i class="glyphicon glyphicon-random"></i>
                        </button>    
                        <button title='{{i18n "PLAYLIST_IMPORT"}}' class="btn btn-default" name="import">
                            <i class="glyphicon glyphicon-import"></i>
                        </button>
                        <button title='{{i18n "PLAYLIST_EXPORT"}}' class="btn btn-default" name="export">
                            <i class="glyphicon glyphicon-export"></i>
                        </button>
                        
                    </div>
                </div>
                
                 <div class="plCommandsContainer btnDivContainer">
                    <div class="btn-group plCommands btnDiv">
                        <button name="addKara" class="btn btn-default">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                        <button name="deleteKara" class="btn btn-default">
                            <i class="glyphicon glyphicon-minus"></i>
                        </button>
                        <button name="transferKara" class="btn btn-default">
                            <i class="glyphicon glyphicon-arrow-left"></i><i class="glyphicon glyphicon-arrow-right"></i>
                        </button>
                        <button name="selectAllKaras" value="0" class="btn btn-default">
                            <i class="glyphicon glyphicon-unchecked"></i>
                            <i class="glyphicon glyphicon-check"></i>
                        </button>
                    </div>
                </div>
                <div class=" flagsContainer">
                    <div class="btn-group plCommands flags" id="flag2">
                        <button title='{{i18n "PLAYLIST_CURRENT"}}' class="btn btn-default" name="flag_current">
                            <i class="glyphicon glyphicon-facetime-video"></i>
                        </button>
                        <button title='{{i18n "PLAYLIST_PUBLIC"}}' class="btn btn-default" name="flag_public">
                            <i class="glyphicon glyphicon-indent-left"></i>
                        </button>
                        <button title='{{i18n "PLAYLIST_VISIBLE"}}' class="btn btn-default" name="flag_visible">
                            <i class="glyphicon glyphicon-eye-close"></i><i class="glyphicon glyphicon-eye-open"></i>
                        </button>
                    </div>
                </div>
                 <div class="plSearch">
                    <input type="text" class="form-control input-md" num="2" id="searchPlaylist2" placeholder="&#xe003;" />
                </div>
               
            </div>
            <div class="playlistContainer">
                <ul id="playlist2" num="2" class="list-group">
                    <li class="list-group-item"></li>
                </ul>
                <div class="playlistLoading"> {{i18n "LOADING"}} </div>
            </div>
        </div>
    </div>
    <div class="row" id="manage" hidden>
        <div class="col-lg-2 col-xs-0"></div>
        <div class="panel col-lg-8 col-xs-12">
            <div class="panel-heading container-fluid">
                <div class="col-lg-6 col-xs-6">
                    <div class="pull-right">
                        <h4> {{i18n "OPTIONS"}} </h4>
                    </div>
                </div>
            </div>
            <br/>
            <form class="form-horizontal" id="status">
                <div class="form-group">
                    <label for="toggleAlwaysOnTop" class="col-xs-4 control-label">{{i18n "ALWAYS_ON_TOP"}}</label>
                    <div class="col-xs-6">
                        <input action="command" switch="onoff" type="checkbox" name="toggleAlwaysOnTop">
                    </div>
                </div>
                <div class="form-group">
                    <label for="toggleFullscreen" class="col-xs-4 control-label">{{i18n "FULLSCREEN"}}</label>
                    <div class="col-xs-6">
                        <input action="command" switch="onoff" type="checkbox" name="toggleFullscreen">
                    </div>
                </div>
            </form>
            <form class="form-horizontal" id="settings">
                <hr>
                <div class="form-group">
                    <label for="AdminPassword" class="col-xs-4 control-label">{{i18n "ADMIN_PASSWORD_CHANGE"}}</label>
                    <div class="col-xs-3">
                        <input id="password" type="password" exclude="true" class="form-control" placeholder="{{i18n "PASSWORD"}}">
                    </div>
                    <div class="col-xs-3">
                        <input id="confirmPassword" type="password" exclude="true" class="form-control" placeholder="{{i18n "CONFIRM_PASSWORD"}}">
                    </div>
                    <button type="button" id="sendPassword" class="btn btn-danger" name="AdminPassword" oldvalue="{{mdpAdmin}}" disabled>
                            <i class="glyphicon glyphicon-floppy-disk" value="">  </i>                     
                        </button>
                </div>
                <div class="form-group">
                    <label for="EngineSongsPerPerson" class="col-xs-4 control-label">{{i18n "SONGS_BY_USER"}}</label>
                    <div class="col-xs-6">
                        <input type="number" class="form-control" name="EngineSongsPerPerson" placeholder="1000">
                    </div>
                </div>
                <div class="form-group">
                    <label for="PlayerScreen" class="col-xs-4 control-label">{{i18n "MONITOR_NUMBER"}}</label>
                    <div class="col-xs-6">
                        <select type="number" class="form-control" name="PlayerScreen">
								{{#each displays}}
									<option value="{{@index}}"> {{model}} ({{resolutionx}}x{{resolutiony}})</option>
								{{/each}}
                            </select>
                    </div>
                </div>
                <div id="pipSettings" style="background-color:transparent;border: solid #585b65; border-width: 2px 0px;" class="well well-sm">
                    <div class="form-group">
                        <label for="PlayerPIPSize" class="col-xs-4 control-label">{{i18n "VIDEO_SIZE"}} (%)</label>
                        <div class="col-xs-6">
                            <input type="range" name="PlayerPIPSize">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="PlayerPIPPositionX" class="col-xs-4 control-label">{{i18n "VIDEO_POSITION_X"}}</label>
                        <div class="col-xs-6">
                            <select type="number" class="form-control" name="PlayerPIPPositionX">
                                <option value="Left" > {{i18n "LEFT"}} </option>
                                <option value="Center" default> {{i18n "CENTER"}} </option>
                                <option value="Right" > {{i18n "RIGHT"}} </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="PlayerPIPPositionY" class="col-xs-4 control-label">{{i18n "VIDEO_POSITION_Y"}}</label>
                        <div class="col-xs-6">
                            <select type="number" class="form-control" name="PlayerPIPPositionY">
                                <option value="Bottom" > {{i18n "BOTTOM"}} </option>
                                <option value="Center" default> {{i18n "CENTER"}} </option>
                                <option value="Top" > {{i18n "TOP"}} </option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-lg-2 col-xs-0"></div>
    </div>

<div id="message" class="alert"></div>
<a id="downloadAnchorElem"/>
</div>

<script>
    var mdpAdmin = "{{mdpAdmin}}";
    var settingsOnOff = {
        "PlayerPIP": "{{i18n "PLAYERPIP"}}"
        , "EngineAllowNicknameChange": "{{i18n "ENGINEALLOWNICKNAMECHANGE"}}"
        , "EngineAllowViewBlacklist": "{{i18n "ENGINEALLOWVIEWBLACKLIST"}}"
        , "EngineAllowViewBlacklistCriterias": "{{i18n "ENGINEALLOWVIEWBLACKLISTCRITERIAS"}}"
        , "EngineAllowViewWhitelist": "{{i18n "ENGINEALLOWVIEWWHITELIST"}}"
        , "EngineDisplayNickname": "{{i18n "ENGINEDISPLAYNICKNAME"}}"
        , "PlayerFullscreen": "{{i18n "PLAYERFULLSCREEN"}}"
        , "PlayerStayOnTop": "{{i18n "PLAYERSTAYONTOP"}}"
        , "PlayerNoBar": "{{i18n "PLAYERNOBAR"}}"
        , "PlayerNoHud": "{{i18n "PLAYERNOHUD"}}" };
</script>