<div id="header" class="header">
    <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
        <div class="col-lg-10 col-md-8 col-sm-12 col-xs-12 plSearch" id="searchParent" style="width: 100%;">
            <input type="text" class="form-control" id="searchPlaylist1" side="1" placeholder="&#xe003;" name="searchPlaylist" />
            <button title="{{i18n "GET_LUCKY"}}" class="btn btn-lg btn-action btn-default getLucky hidden-xs hidden-sm">
              <img src="/fonts/clover.png">
            </button>
        </div>
        <div class="col-lg-2 col-md-4 hidden-sm hidden-xs pseudoChange">
            <input list="pseudo" type="text" id="choixPseudo" class="form-control" placeholder="{{i18n "NICKNAME"}}" />
            <datalist id="pseudo">
            </datalist>
        </div>
    </div>
    <div class="col-lg-4 col-md-5 hidden-sm hidden-xs">
        <div class="dropdown pull-right">
            <button class="btn btn-default btn-dark dropdown-toggle" type="button" data-toggle="dropdown">
            </span><i class="glyphicon glyphicon-cog"></i></button>
            <ul class="dropdown-menu">
                <li><a href="#" class="showSettings">Aide</a></li>
                <li><a href="/admin" id="logAdmin" target="_blank">Admin</a></li>
                <li><a href="#" onclick="endOfTheWorldAsWeKnowIt();">{{i18n "4TH_IMPACT"}}</a></li>
            </ul>
        </div>
        <div class="pull-right btn-group switchParent">
            <input title='{{i18n "SWITCH_SEARCH_VIEW"}}' type="checkbox" value="1" name="kara_panel" class="btn btn-default pull-right" data-on-text="<i class='glyphicon glyphicon-menu-hamburger'></i>"
                data-off-text="<i class='glyphicon glyphicon-search'></i>" data-size="large" />
            <input title='{{i18n "SWITCH_BAR_INFOS"}}' type="checkbox" value="1" name="lyrics" class="btn btn-default pull-left" data-on-text="<i class='glyphicon glyphicon-italic'></i>"
                data-off-text="<i class='glyphicon glyphicon-subtitles'></i>" data-size="large" />
        </div>
    </div>
</div>
<div id="progressBar" class="underHeader">
    <div id="karaInfo" idKara="-1" ondragstart="return false" draggable="false"><span>{{i18n "KARA_PAUSED_WAITING"}}<span></div>
    <div id="progressBarColor" class="cssTransform"></div>
</div>
<div id="underHeader" class="underHeader container-fluid">
    <div class="playlist-main row" id="playlist">
        <div class="panel col-lg-8 col-md-7 col-sm-12 col-xs-12" id="panel1" side="1">
             <div class="plDashboard">
                <div class="plSelect">
                    <select id="selectPlaylist1" side="1" hidden >
                        <option value="-1" default></option>
                    </select>
                </div>
            </div>
            <div class="playlistContainer">
                <ul id="playlist1" side="1" class="list-group collection">
                </ul>
           </div>
            <div class="playlistLoading"> {{i18n "LOADING"}} </div>
            <div class="plInfos"></div>
        </div>
         
        <div class="panel col-lg-4 col-md-5 col-sm-12 col-xs-12" id="panel2" side="2">
           <div class="panel-heading container-fluid plDashboard">
                <div class="col-lg-8 col-md-7 col-sm-6 col-xs-6 plSelect">
                    <select id="selectPlaylist2" side="2" type="playlist_select" class="select2 form-control">
                        <option value="" selected>...</option>
                    </select>
                </div>
                <div class="flagsContainer hidden">
                    <div class="btn-group plCommands flags hidden" id="flag2">
                        <button class="btn btn-lg btn-default" name="export">
                            <i class="glyphicon glyphicon-export"></i>
                        </button>
                        <button class="btn btn-lg btn-default" name="flag_current">
                            <i class="glyphicon glyphicon-facetime-video"></i>
                        </button>
                        <button class="btn btn-lg btn-default" name="flag_public">
                            <i class="glyphicon glyphicon-globe"></i>
                        </button>
                        <button class="btn btn-lg btn-default" name="flag_visible">
                            <i class="glyphicon glyphicon-eye-close"></i>
                        </button>
                    </div>
                </div>
                 <div class="pull-left plSearch">
                    <input type="text" class="form-control input-md" side="2" id="searchPlaylist2" placeholder="&#xe003;" name="searchPlaylist"/>
                </div>
            </div>
            
            <div class="playlistContainer">
                <ul id="playlist2" side="2" class="list-group collection">
                    <li class="list-group-item"></li>
                </ul>
            </div>
            <div class="playlistLoading"> {{i18n "LOADING"}} </div>
            <div class="plInfos"></div>
        </div>
    </div>
</div>
<div id="message" class="alert">
</div>
<div class="fixed-action-btn left click-to-toggle" id="mobileActions">
    <a class="btn-floating btn-large waves-effect z-depth-3" id="menuMobile"  style="background-color:#123456" data-opened=false>
        <i class="glyphicon glyphicon-menu-hamburger"></i>
    </a>
    <ul>
        <li><a class="z-depth-3 btn-floating btn-large" onclick="endOfTheWorldAsWeKnowIt();" style="background-color:hsla(0, 71%, 14%, .4)"><i class="glyphicon glyphicon-gift"></i></a></li>
        <li><a class="z-depth-3 btn-floating btn-large getLucky"  style="background-color:#111">   <img style="height: 80%;margin-top: 10%" src="/fonts/clover.png"></a></li>
        <li><a class="z-depth-3 btn-floating btn-large showSettings" style="background-color:#613114"><i class="glyphicon glyphicon-question-sign"></i></a></li>
        <li class="pseudoChange"><a class="z-depth-3 btn-floating btn-large" id="changePseudo" style="background-color:#431b50"><i class="glyphicon glyphicon-user"></i></a></li>
        <li><a class="z-depth-3 btn-floating btn-large" id="switchInfoBar" style="background-color:#125633">
            <i class="glyphicon glyphicon-info-sign infos"></i><i class="glyphicon glyphicon-subtitles lyrics"></i></a></li>
    </ul>
</div>
<div class="modal fade" id="modalBox" role="dialog" tabindex="2">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="modal-message">
                
                </div>
                <div class="form">
                    <input type="text" class="form-control" id="modalInput" name="modalInput"    />
                </div>
            </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-action btn-primary other" data-dismiss="modal">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
                <button type="button" class="btn btn-action btn-default ok" data-dismiss="modal">
                    <i class="glyphicon glyphicon-ok"></i>
                </button>
            </div>
        </div>
    </div>
</div>
 <div class="popup" id="settingsPublic" hidden>
    <span id="settingsPublicTitle"> Aide </span>>
    <span id="settingsPublicContent">
        <div id="mobileHelp" class="col-lg-12 col-xs-12" style="line-height:1.8em;">
            <p> Ajoutez vos karas en les <b>glissant vers la droite</b>.</p>
            
            <p><b>Swipe gauche/droite</b> pour passer du mode recherche au mode playlist
            </p>
            <p>Version mobile encore en travaux, mais <b>n'oubliez pas</b> de venir râler sur le Discord.
            </p>
            <br/>
            <hr>
        </div>
            <div class="col-lg-3 col-xs-3">
                <b>{{i18n "MODE"}}</b>
                <br/>
                <b>{{i18n "VERSION"}}</b>
                <br/>
            </div>
            <div class="col-lg-9 col-xs-9">
                    <span id="mode"></span>
                    <br/>
                        <span id="version"></span>
                    <br/>
            </div>
    </span>
</div>