<div id="header" class="header" introStep="6" introLabel="lecteur" introTooltipClass="_introBottom">
   
    <div class="dropdown btn btn-default btn-dark pull-right" id="manageButton">
        <button class="btn btn-dark pull-right dropdown-toggle klogo" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
           
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li title="{{i18n "ACCOUNT"}}" action="account" class="btn btn-default btn-dark">
		        <i class="glyphicon glyphicon-user"></i></li>
            <li title="{{i18n "LOGOUT"}}" action="logout" class="btn btn-default btn-dark">
		        <i class="glyphicon glyphicon-log-out"></i></li>
            <li title="{{i18n "SHUTDOWN"}}" action="poweroff" class="btn btn-default btn-dark">
                <i class="glyphicon glyphicon-off"></i></li>
        </ul>
    </div>
    
    <a title="{{i18n "MUTE_UNMUTE"}}" action="command" id="mutestatus" name="mute" class="btn btn-default btn-dark pull-right">
		<i class="glyphicon glyphicon-volume-up unmute"></i>
		<i class="glyphicon glyphicon-volume-off mute"></i>
		<input title='{{i18n "VOLUME_LEVEL"}}' action="command" name="setVolume" id="volume" value="100" type="range" />	
	</a>
    <button title="{{i18n "SHOW_HIDE_SUBS"}}" action="command" id="showSubs" name="hideSubs" class="btn btn-default btn-dark pull-right">
		<i class="glyphicon glyphicon-subtitles hideSubs"></i>
        <i class="glyphicon glyphicon glyphicon-question-sign showSubs"></i>
    </button>
    
    <button title="{{i18n "MESSAGE"}}" id="adminMessage" class="btn btn-dark pull-right" style="border-left-width: 0px"><i class="glyphicon glyphicon-comment"></i></button>

    <div class="pull-left btn-group switchs" style="width: 129px; max-width: 12.4vw;">
        <input title='{{i18n "SWITCH_PRIVATE"}}' data-introStep="7" data-introLabel="mode" type="checkbox" checked name="EnginePrivateMode" class="btn pull-left" data-on-text="<i class='glyphicon glyphicon-eye-close'></i> {{i18n "PRIVATE"}}"
            data-off-text="<i class='glyphicon glyphicon-eye-open'></i> {{i18n "PUBLIC"}}" data-size="large"/>
        <input title='{{i18n "SWITCH_OPTIONS"}}' data-introStep="13" data-introLabel="settings" type="checkbox" checked name="kara_panel" class="btn pull-left" data-off-text="<i class='glyphicon glyphicon-cog'></i>  {{i18n "OPTIONS"}}"
            data-on-text="<i class='glyphicon glyphicon glyphicon-music'></i>  {{i18n "CL_PLAYLISTS"}}" data-size="large"/>
    </div>
    <div class="pull-left btn-group">
        <button title="{{i18n "STOP_AFTER"}}" action="command" id="stopAfter" name="stopAfter" class="btn btn-danger-low" style="width: 50px;">
			<i class="glyphicon glyphicon-stop"></i><i class="glyphicon glyphicon-time secondaryIcon"></i></button>
        <button title="{{i18n "STOP_NOW"}}" action="command" id="stopNow" name="stopNow" class="btn btn-danger"> <i class="glyphicon glyphicon-stop"></i></button>
        <button title="{{i18n "REWIND"}}" action="command" id="goTo" name="goTo" value="0" class="btn btn-dark"><i class="glyphicon glyphicon-fast-backward"></i></button>
    </div>
    <div class="btn-group centerBtns">
        <button title="{{i18n "REWIND"}}" action="command" id="prev" name="prev" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i></button>
        <button title="{{i18n "PLAY_PAUSE"}}" action="command" id="status" name="play" class="btn btn-primary"><i class="glyphicon glyphicon-play play"></i><i class="glyphicon glyphicon-pause pause"></i></button>
        <button title="{{i18n "NEXT_SONG"}}" action="command" id="skip" name="skip" class="btn btn-default"><i class="glyphicon glyphicon-chevron-right"></i></button>
        <button class="btn btn-default hidden"></button>
    </div>
</div>
<div id="progressBar" class="underHeader">
    <div id="karaInfo" idKara="-1" ondragstart="return false" draggable="false"><span>{{i18n "KARA_PAUSED_WAITING"}}<span></div>
    <div id="progressBarColor" class="cssTransform"></div>
</div>
<div id="underHeader" class="underHeader container-fluid" introStep="5"  introLabel="playlists">
    <div class="playlist-main row" id="playlist" introStep="9"  introLabel="playlists_2">
        <div class="panel col-lg-6 col-xs-6" id="panel1" side="1">
            <div class="panel-heading container-fluid plDashboard">            
                <div class="plSelect">
                    <button title="{{i18n "PLAYLIST_COMMANDS"}}" class="btn btn-default pull-left showPlaylistCommands" side="1">
                        <i class="glyphicon glyphicon-wrench"></i>
                    </button>
                    <select id="selectPlaylist1" side="1" type="playlist_select" class="select2" style="overflow:hidden">
                    </select>
                </div>
                <div class="controlsContainer">
                    <div class="btn-group plCommands controls">
                        <button title='{{i18n "PLAYLIST_SHUFFLE"}}' class="btn btn-default" name="shuffle">
                            <i class="glyphicon glyphicon-random"></i>
                        </button> 
                        <button title='{{i18n "PLAYLIST_SMART_SHUFFLE"}}' class="btn btn-default" name="smartShuffle">
                            <i class="glyphicon glyphicon-random"></i>
                        </button> 
                    </div>
                  
                </div>
                <div class="searchMenuButtonContainer btn-group plCommands">
                    <button type="button" class="searchMenuButton collapsed btn btn-default" data-toggle="collapse" data-target="#searchMenu1" aria-expanded="false">
                        <i class="glyphicon glyphicon-filter"></i>
                    </button> 
                </div>
                <div class="plSearch">
                    <input type="text" class="form-control input-md" side="1" id="searchPlaylist1" placeholder="&#xe003;" onclick="this.select();"/>
                </div>
                <div class="flagsContainer">
                    <div class="btn-group plCommands flags" id="flag1">
                        <button title='{{i18n "PLAYLIST_CURRENT"}}' class="btn btn-default" name="flag_current">
                            <i class="glyphicon glyphicon-facetime-video"></i>
                        </button>
                        <button title='{{i18n "PLAYLIST_PUBLIC"}}' class="btn btn-default" name="flag_public">
                            <i class="glyphicon glyphicon-globe"></i>
                        </button>
                        <button title='{{i18n "PLAYLIST_VISIBLE"}}' class="btn btn-default" name="flag_visible">
                            <i class="glyphicon glyphicon-eye-close"></i><i class="glyphicon glyphicon-eye-open"></i>
                        </button>
                    </div>
                </div>
              
                <div class="plCommandsContainer actionDivContainer">
                    <div class="btn-group plCommands controls">
                        <button title='{{i18n "PLAYLIST_EDIT"}}' class="btn btn-default" name="editName">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </button>
                        <button title="{{i18n "START_FAV_MIX"}}" class="btn btn-default plGenericButton" name="startFavMix">
                            <i class="glyphicon glyphicon-flash"></i>
                        </button>
                        <button title='{{i18n "PLAYLIST_ADD"}}' class="btn btn-default plGenericButton" name="add">
                            <i class="glyphicon glyphicon-plus-sign"></i>
                        </button>
                        <button title='{{i18n "PLAYLIST_DELETE"}}' class="btn btn-danger" name="delete">
                            <i class="glyphicon glyphicon-remove red"></i>
                        </button>
                        <label for="import-file2" title='{{i18n "PLAYLIST_IMPORT"}}' class="btn btn-default plGenericButton" name="import">
                            <i class="glyphicon glyphicon-import"></i>
                            <input id="import-file2" class="import-file" type="file" accept=".kmplaylist" style="display: none;"/>
                        </label>
                        <button title='{{i18n "PLAYLIST_EXPORT"}}' class="btn btn-default" name="export">
                            <i class="glyphicon glyphicon-export"></i>
                        </button>
                    </div>
                    <div class="btn-group plCommands actionDiv">
                        <button title="{{i18n "ADD_ALL_KARAS"}}" name="addAllKaras" class="btn btn-danger clusterAction">
                            <i class="glyphicon glyphicon-share"></i>
                        </button>
                        <button title="{{i18n "EMPTY_LIST"}}" name="deleteAllKaras" class="btn btn-danger clusterAction">
                            <i class="glyphicon glyphicon-erase"></i>
                        </button>
                        <button title="{{i18n "ADD_KARA"}}" name="addKara" class="btn btn-default">
                           
                        </button>
                        <button title="{{i18n "DELETE_KARA"}}" name="deleteKara" class="btn btn-default">
                           
                        </button>
                        <button title="{{i18n "TRANSFER_KARA"}}" name="transferKara" class="btn btn-default">
                         
                        </button>
                        <button title="{{i18n "SELECT_ALL"}}" name="selectAllKaras" class="btn btn-default clusterAction">
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-default  searchMenuContainer">
                <div class="searchMenu container collapse" id="searchMenu1">
                    <ul class="nav navbar-nav">
                         <li searchType="serie" class="tagFilter">
                            <span class='value'>
                                <span class="tagsTypesContainer">
                                    <select type="text" class="tagsTypes form-control select2 value" placeholder="Search">
                                    </select>
                                </span>
                                <span class="tagsContainer">
                                    <select type="text" class="tags form-control select2 value" placeholder="Search">
                                    </select>
                                </span>
                            </span>
                            <a class="choice" href="#"><i class="glyphicon glyphicon-filter"></i> {{i18n "FILTER"}}</a>
                        </li>
                        <li class="active"><a class="choice" href="#"><i class="glyphicon glyphicon-sort-by-alphabet"></i> {{i18n "VIEW_STANDARD"}}</a></li>
                        <li searchType="recent" ><a class="choice" href="#"><i class="glyphicon glyphicon-time"></i> {{i18n "VIEW_RECENT"}}</a></li>
                        <li searchType="popular" ><a class="choice" href="#"><i class="glyphicon glyphicon-fire"></i> {{i18n "VIEW_POPULAR"}}</a></li>
                
                    </ul>             
                </div>
            </nav>
            <div class="playlistContainer">
                <ul id="playlist1" side="1" class="list-group">
                    <li class="list-group-item"></li>
                </ul> 
            </div>
            <div class="plFooter">
                 <div class="plBrowse">
                    <button title="{{i18n "GOTO_TOP"}}" class="btn btn-sm btn-action" action="goTo" value="top"><i class="glyphicon glyphicon glyphicon-menu-up"></i></button>
                    <button title="{{i18n "GOTO_PLAYING"}}" class="btn btn-sm btn-action" action="goTo" value="playing"><i class="glyphicon glyphicon glyphicon-play"></i></button>
                    <button title="{{i18n "GOTO_BOTTOM"}}" class="btn btn-sm btn-action" action="goTo" value="bottom"><i class="glyphicon glyphicon glyphicon-menu-down"></i></button>
                </div>
                <div class="plInfos"></div>
            </div>
        </div>
        
        <div class="panel col-lg-6 col-xs-6" id="panel2" side="2" introStep="12"  introPosition="left" introLabel="playlists_manage_advanced">
            <div class="panel-heading container-fluid plDashboard" introStep="10"  introLabel="playlists_manage">            
                <div class="plSelect">
                    <button title="{{i18n "PLAYLIST_COMMANDS"}}" class="btn btn-default pull-left showPlaylistCommands" side="1"  introStep="11"  introLabel="playlists_manage_button">
                        <i class="glyphicon glyphicon-wrench"></i>
                    </button>
                    <select id="selectPlaylist2" side="2" type="playlist_select" class="select2" style="overflow:hidden">
                        </select>
                </div>

                <div class="controlsContainer">
                    <div class="btn-group plCommands controls"> 
                        <button title='{{i18n "PLAYLIST_SHUFFLE"}}' class="btn btn-default" name="shuffle">
                            <i class="glyphicon glyphicon-random"></i>
                        </button> 
                        <button title='{{i18n "PLAYLIST_SMART_SHUFFLE"}}' class="btn btn-default" name="smartShuffle">
                            <i class="glyphicon glyphicon-random"></i>
                        </button>    
                      
                    </div>
                </div>
                <div class="searchMenuButtonContainer btn-group plCommands">
                    <button type="button" class="searchMenuButton collapsed btn btn-default" data-toggle="collapse" data-target="#searchMenu2" aria-expanded="false">
                        <i class="glyphicon glyphicon-filter"></i>
                    </button> 
                </div>
                
                 <div class="plCommandsContainer actionDivContainer">
                   
                    <div class="btn-group plCommands actionDiv">

                          <button title="{{i18n "ADD_ALL_KARAS"}}" name="addAllKaras" class="btn btn-danger flipped clusterAction">
                            <i class="glyphicon glyphicon-share"></i>
                        </button>
                        <button title="{{i18n "EMPTY_LIST"}}" name="deleteAllKaras" class="btn btn-danger clusterAction">
                            <i class="glyphicon glyphicon-erase"></i>
                        </button>
                        <button title="{{i18n "ADD_KARA"}}" name="addKara" class="btn btn-default">
                           
                        </button>
                        <button title="{{i18n "DELETE_KARA"}}" name="deleteKara" class="btn btn-default">
                           
                        </button>
                        <button title="{{i18n "TRANSFER_KARA"}}" name="transferKara" class="btn btn-default">
                         
                        </button>
                        <button title="{{i18n "SELECT_ALL"}}" name="selectAllKaras" class="btn btn-default clusterAction">
                        </button>
                    </div>  
                    <div class="btn-group plCommands controls">
                        <button title='{{i18n "PLAYLIST_EDIT"}}' class="btn btn-default" name="editName">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </button>
                        <button title="{{i18n "START_FAV_MIX"}}" class="btn btn-default plGenericButton" name="startFavMix">
                            <i class="glyphicon glyphicon-flash"></i>
                        </button>
                        <button title='{{i18n "PLAYLIST_ADD"}}' class="btn btn-default plGenericButton" name="add">
                            <i class="glyphicon glyphicon-plus-sign"></i>
                        </button>
                        <button title='{{i18n "PLAYLIST_DELETE"}}' class="btn btn-danger" name="delete">
                            <i class="glyphicon glyphicon-remove red"></i>
                        </button>
                        <label for="import-file1" title='{{i18n "PLAYLIST_IMPORT"}}' class="btn btn-default plGenericButton" name="import">
                            <i class="glyphicon glyphicon-import"></i>
                            <input id="import-file1" class="import-file" type="file" accept=".kmplaylist" style="display: none;"/>
                        </label>
                        <button title='{{i18n "PLAYLIST_EXPORT"}}' class="btn btn-default" name="export">
                            <i class="glyphicon glyphicon-export"></i>
                        </button>
                    </div>
                </div>
                <div class=" flagsContainer">
                    <div class="btn-group plCommands flags" id="flag2">
                        <button title='{{i18n "PLAYLIST_CURRENT"}}' class="btn btn-default" name="flag_current">
                            <i class="glyphicon glyphicon-facetime-video"></i>
                        </button>
                        <button title='{{i18n "PLAYLIST_PUBLIC"}}' class="btn btn-default" name="flag_public">
                            <i class="glyphicon glyphicon-globe"></i>
                        </button>
                        <button title='{{i18n "PLAYLIST_VISIBLE"}}' class="btn btn-default" name="flag_visible">
                            <i class="glyphicon glyphicon-eye-close"></i><i class="glyphicon glyphicon-eye-open"></i>
                        </button>
                    </div>
                </div>
                 <div class="plSearch">
                    <input type="text" class="form-control input-md" side="2" id="searchPlaylist2" placeholder="&#xe003;" onclick="this.select();"/>
                </div>
               
            </div>
            <nav class="navbar navbar-default  searchMenuContainer">
                <div class="searchMenu container collapse" id="searchMenu2">
                    <ul class="nav navbar-nav">
                         <li searchType="serie" class="tagFilter">
                            <span class='value'>
                                <span class="tagsTypesContainer">
                                    <select type="text" class="tagsTypes form-control select2 value" placeholder="Search">
                                    </select>
                                </span>
                                <span class="tagsContainer">
                                    <select type="text" class="tags form-control select2 value" placeholder="Search">
                                    </select>
                                </span>
                            </span>
                            <a class="choice" href="#"><i class="glyphicon glyphicon-filter"></i> {{i18n "FILTER"}}</a>
                        </li>
                        <li class="active"><a class="choice" href="#"><i class="glyphicon glyphicon-sort-by-alphabet"></i> {{i18n "VIEW_STANDARD"}}</a></li>
                        <li searchType="recent" ><a class="choice" href="#"><i class="glyphicon glyphicon-time"></i> {{i18n "VIEW_RECENT"}}</a></li>
                        <li searchType="popular" ><a class="choice" href="#"><i class="glyphicon glyphicon-fire"></i> {{i18n "VIEW_POPULAR"}}</a></li>
                
                    </ul>             
                </div>
            </nav>
            <div class="playlistContainer">
                <ul id="playlist2" side="2" class="list-group">
                    <li class="list-group-item"></li>
                </ul>
            </div>
            <div class="plFooter">
                <div class="plBrowse">
                    <button title="{{i18n "GOTO_TOP"}}" class="btn btn-sm btn-action" action="goTo" value="top"><i class="glyphicon glyphicon glyphicon-menu-up"></i></button>
                    <button title="{{i18n "GOTO_PLAYING"}}" class="btn btn-sm btn-action" action="goTo" value="playing"><i class="glyphicon glyphicon glyphicon-play"></i></button>
                    <button title="{{i18n "GOTO_BOTTOM"}}" class="btn btn-sm btn-action" action="goTo" value="bottom"><i class="glyphicon glyphicon glyphicon-menu-down"></i></button>
                </div>
                <div class="plInfos"></div>
            </div>
        </div>
    </div>
    <div class="row" id="manage" hidden>
        <div class="col-lg-2 col-xs-0"></div>
        <div class="panel col-lg-8 col-xs-12 modalPage" introStep="14"  introLabel="settings_screen">
            <form class="form-horizontal" id="settings">
                <ul class="nav nav-tabs nav-justified">
                    <li class="modal-title active"><a data-toggle="tab" href="#nav-player" role="tab" aria-controls="nav-login" aria-selected="true">{{i18n "SETTINGS_PLAYER"}}</a></li>
                    <li class="modal-title" ><a data-toggle="tab" href="#nav-karaoke" role="tab" aria-controls="nav-lokaraokegin" aria-selected="false">{{i18n "SETTINGS_KARAOKE"}}</a></li>
                    <li class="modal-title" ><a data-toggle="tab" href="#nav-interface" role="tab" aria-controls="nav-interface" aria-selected="false">{{i18n "SETTINGS_INTERFACE"}}</a></li>
                </ul>
    
                <div class="tab-content">
                    <div id="nav-player" role="tabpanel" aria-labelledby="nav-player-tab" class="modal-body tab-pane fade in active">
                        <div class="form-group">
                            <label for="PlayerStayOnTop" class="col-xs-4 control-label">{{i18n "ALWAYS_ON_TOP"}}</label>
                            <div class="col-xs-6">
                                <input action="command" switch="onoff" type="checkbox" name="PlayerStayOnTop" nameCommand="toggleAlwaysOnTop">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PlayerFullscreen" class="col-xs-4 control-label">{{i18n "FULLSCREEN"}}</label>
                            <div class="col-xs-6">
                                <input action="command" switch="onoff" type="checkbox" name="PlayerFullscreen" nameCommand="toggleFullscreen">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PlayerScreen" class="col-xs-4 control-label">{{i18n "MONITOR_NUMBER"}}</label>
                            <div class="col-xs-6">
                                <select type="number" class="form-control" name="PlayerScreen">
                                        {{#each displays}}
                                            <option value="{{@index}}"> ({{resolutionx}}x{{resolutiony}}) {{model}}</option>
                                        {{/each}}
                                    </select>
                            </div>
                        </div>

                        <div id="connexionInfoSettings" class="well well-sm settingsGroupPanel">
                            <div class="form-group">
                                <label class="col-xs-4 control-label" for="EngineDisplayConnectionInfoQRCode">{{i18n "ENGINEDISPLAYCONNECTIONINFOQRCODE"}}</label>
                                <div class="col-xs-6">
                                    <input name="EngineDisplayConnectionInfoQRCode" type="checkbox">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="EngineDisplayConnectionInfoHost" class="col-xs-4 control-label">{{i18n "ENGINEDISPLAYCONNECTIONINFOHOST"}}</label>
                                <div class="col-xs-6">
                                    <input class="form-control" name="EngineDisplayConnectionInfoHost">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="EngineDisplayConnectionInfoMessage" class="col-xs-4 control-label">{{i18n "ENGINEDISPLAYCONNECTIONINFOMESSAGE"}}</label>
                                <div class="col-xs-6">
                                    <input class="form-control" name="EngineDisplayConnectionInfoMessage">
                                </div>
                            </div>
                        </div>


                        
                        <div id="pipSettings" class="well well-sm settingsGroupPanel">
                            <div class="form-group">
                                <label for="PlayerPIPSize" class="col-xs-4 control-label">{{i18n "VIDEO_SIZE"}}</label>
                                <div class="col-xs-6">
                                    <input type="range" name="PlayerPIPSize">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="PlayerPIPPositionX" class="col-xs-4 control-label">{{i18n "VIDEO_POSITION_X"}}</label>
                                <div class="col-xs-6">
                                    <select class="form-control" name="PlayerPIPPositionX">
                                        <option value="Left" > {{i18n "LEFT"}} </option>
                                        <option value="Center" default> {{i18n "CENTER"}} </option>
                                        <option value="Right" > {{i18n "RIGHT"}} </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="PlayerPIPPositionY" class="col-xs-4 control-label">{{i18n "VIDEO_POSITION_Y"}}</label>
                                <div class="col-xs-6">
                                    <select class="form-control" name="PlayerPIPPositionY">
                                        <option value="Bottom" > {{i18n "BOTTOM"}} </option>
                                        <option value="Center" default> {{i18n "CENTER"}} </option>
                                        <option value="Top" > {{i18n "TOP"}} </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="nav-interface" role="tabpanel" aria-labelledby="nav-interface-tab" class="modal-body tab-pane fade">
                    
                        <div class="form-group">
                            <label for="WebappMode" class="col-xs-4 control-label">{{i18n "WEBAPPMODE"}}</label>
                            <div class="col-xs-6">
                                <select type="number" class="form-control" name="WebappMode">
                                        <option value="0">{{i18n "WEBAPPMODE_CLOSED"}}</option>
                                        <option value="1">{{i18n "WEBAPPMODE_LIMITED"}}</option>
                                        <option value="2">{{i18n "WEBAPPMODE_OPEN"}}</option>
                                    </select>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="WebappSongLanguageMode" class="col-xs-4 control-label">{{i18n "SERIE_NAME_MODE"}}</label>
                            <div class="col-xs-6">
                                <select type="number" class="form-control" name="WebappSongLanguageMode">
                                        <option value="0">{{i18n "SERIE_NAME_MODE_ORIGINAL"}}</option>
                                        <option value="1">{{i18n "SERIE_NAME_MODE_SONG"}}</option>
                                        <option value="2">{{i18n "SERIE_NAME_MODE_ADMIN"}}</option>
                                        <option value="3">{{i18n "SERIE_NAME_MODE_USER"}}</option>
                                    </select>
                            </div>
                        </div>
                    </div>
                    <div id="nav-karaoke" role="tabpanel" aria-labelledby="nav-karaoke-tab" class="modal-body tab-pane fade">
                        
                        <div id="nav-karaokeAllMode">
                            <div class="form-group">
                                <label for="EngineQuotaType" class="col-xs-4 control-label">{{i18n "QUOTA_TYPE"}}</label>
                                <div class="col-xs-6">
                                    <select type="number" class="form-control" name="EngineQuotaType">
                                            <option value="0"> {{i18n "QUOTA_TYPE_0"}} </option>
                                            <option value="1"> {{i18n "QUOTA_TYPE_1"}} </option>
                                            <option value="2"> {{i18n "QUOTA_TYPE_2"}} </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="EngineTimePerUser" class="col-xs-4 control-label">{{i18n "TIME_BY_USER"}}</label>
                                <div class="col-xs-6">
                                    <input type="number" class="form-control" name="EngineTimePerUser" placeholder="1000">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="EngineSongsPerUser" class="col-xs-4 control-label">{{i18n "SONGS_BY_USER"}}</label>
                                <div class="col-xs-6">
                                    <input type="number" class="form-control" name="EngineSongsPerUser" placeholder="1000">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="EngineFreeAutoTime" class="col-xs-4 control-label">{{i18n "FREE_AUTO_TIME"}}</label>
                                <div class="col-xs-6">
                                    <input type="number" class="form-control" name="EngineFreeAutoTime" placeholder="1000">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="EngineJingleInterval" class="col-xs-4 control-label">{{i18n "ENGINEJINGLESINTERVAL"}}</label>
                                <div class="col-xs-6">
                                    <input type="number" class="form-control" name="EngineJinglesInterval" placeholder="20">
                                </div>
                            </div>
                        </div>
                        <div class="form-group settingsGroupPanel subCategoryGroupPanel">
                            <div class="col-xs-12" style="text-align: center;">{{i18n "ONLINESETTINGS"}}</div>
                        </div>
                        <div id="nav-karaokeOnlineSettings">
                        </div>
                        <div class="form-group settingsGroupPanel subCategoryGroupPanel">
                            <div class="col-xs-12" style="text-align: center;">{{i18n "PUBLICMODESETTINGS"}}</div>
                        </div>
                        <div id="nav-karaokePublicMode">
                            <div id="freeUpvotesSettings" class="well well-sm settingsGroupPanel">
                                <div class="form-group">
                                    <label class="col-xs-4 control-label" for="EngineFreeUpvotesRequiredMin">{{i18n "ENGINEFREEUPVOTESREQUIREDMIN"}}</label>
                                    <div class="col-xs-6">
                                        <input class="form-control" type="number" name="EngineFreeUpvotesRequiredMin">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="EngineFreeUpvotesRequiredPercent" class="col-xs-4 control-label">{{i18n "ENGINEFREEUPVOTESREQUIREDPERCENT"}}</label>
                                    <div class="col-xs-6">
                                        <input class="form-control" type="number" name="EngineFreeUpvotesRequiredPercent">
                                    </div>
                                </div>
                            </div>   
                            <div id="songPollSettings" class="well well-sm settingsGroupPanel">
                                <div class="form-group">
                                    <label class="col-xs-4 control-label" for="EngineSongPollChoices">{{i18n "ENGINESONGPOLLCHOICES"}}</label>
                                    <div class="col-xs-6">
                                        <input class="form-control" type="number" name="EngineSongPollChoices">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="EngineSongPollTimeout" class="col-xs-4 control-label">{{i18n "ENGINESONGPOLLTIMEOUT"}}</label>
                                    <div class="col-xs-6">
                                        <input class="form-control" type="number" name="EngineSongPollTimeout">
                                    </div>
                                </div>
                            </div>    
                        </div>
                        <input name="appFirstRun" class="hideInput hidden">
                    </div>
                </div>            
            </form>
        </div>
        <div class="col-lg-2 col-xs-0"></div>
    </div>

<div class="toastMessageContainer"></div>
<div class="modal fade" id="modalBox" role="dialog" tabindex="2">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="modal-message">
                
                </div>
                <div class="form">
                    <input type="text" class="form-control" id="modalInput" name="modalInput"    />
                </div>
            </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-action btn-primary other" data-dismiss="modal">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
                <button type="button" class="btn btn-action btn-default ok" data-dismiss="modal">
                    <i class="glyphicon glyphicon-ok"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal modalPage fade" id="profilModal" role="dialog" type="prompt" tabindex="21">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <ul class="nav nav-tabs nav-justified modal-header">
                <li class="modal-title active"><a data-toggle="tab" href="#nav-profil" role="tab" aria-controls="nav-profil" aria-selected="true"> {{i18n "PROFILE"}}</a></li>
                <li class="modal-title"><a data-toggle="tab" href="#nav-userlist" role="tab" aria-controls="nav-userlist" aria-selected="false"> {{i18n "USERLIST"}}</a></li>
                <button class="closeModal btn btn-action" data-dismiss="modal" aria-label="Close"></button>
            </ul>
            <div class="tab-content" id="nav-tabContent">
                <div id="nav-profil" role="tabpanel" aria-labelledby="nav-profil-tab" class="modal-body tab-pane fade in active">
                    <div class="profileContent">

                            <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12">

                                <label for="avatar" title='{{i18n "AVATAR_IMPORT"}}' class="btn btn-default plGenericButton avatar" name="import">
                                    <img class="img-circle" name="avatar_file"
                                      src="/avatars/blank.png"
                                     alt="User Pic">
                                    <input id="avatar" class="import-file" type="file" accept="image/*" style="display: none;"/>
                                </label>
                                <p name="login"></p>
                            </div>
                            <div class="col-md-9 col-lg-9 col-xs-12 col-sm-12 profileData">
                                 <div class="profileLine">
                                    <i class="glyphicon glyphicon-user"></i>
                                    <input class="form-control" name="nickname" type="text" placeholder="{{{ i18n "PROFILE_USERNAME" }}}"/>
                                </div>
                                <div class="profileLine">
                                    <i class="glyphicon glyphicon-envelope"></i>
                                    <input class="form-control" name="email" type="text" placeholder="{{{ i18n "PROFILE_MAIL" }}}"/>
                                </div>
                                <div class="profileLine">
                                    <i class="glyphicon glyphicon-link"></i>
                                    <input class="form-control" name="url" type="text" placeholder="{{{ i18n "PROFILE_URL" }}}"/>
                                </div>
                                <div class="profileLine">
                                    <i class="glyphicon glyphicon-leaf"></i>
                                    <input class="form-control" name="bio" type="text" placeholder="{{{ i18n "PROFILE_BIO" }}}"/>
                                </div>
                                <div class="profileLine">
                                    <i class="glyphicon glyphicon-lock"></i>
                                    <input class="form-control" name="password" type="password" placeholder="{{{ i18n "PROFILE_PASSWORD" }}}"/>
                                    <input class="form-control passwordConfirmation" type="password" placeholder="{{{ i18n "PROFILE_PASSWORDCONF" }}}" style="margin-left: 3px;"/>
                                </div>
                                 <div class="profileLine">
                                    <i class="glyphicon glyphicon-star"></i>
                                     <label for="favImport" type="button"  title='{{i18n "FAVORITES_IMPORT"}}' class="btn btn-action btn-default col-xs-6 col-lg-6 favImport">
                                        <i class="glyphicon glyphicon-import"></i> {{i18n "IMPORT"}}
                                        <input id="favImport" class="import-file" type="file" accept=".kmplaylist" style="display: none;"/>
                                    </label>
                                    <button type="button"  title='{{i18n "FAVORITES_EXPORT"}}' class="btn btn-action btn-default col-xs-6 col-lg-6 favExport">
                                        <i class="glyphicon glyphicon-export"></i> {{i18n "EXPORT"}}
                                    </button>
                                </div>
                            </div>
                            
                            <div class="col-xs-12 col-sm-12">

                            </div>
                        </div>
                    </div>
                    <div id="nav-userlist" role="tabpanel" aria-labelledby="nav-userlist-tab" class="modal-body tab-pane fade in">
                        <div class="userlist list-group col-md-12 col-lg-12 col-xs-12 col-sm-12">

                        </div>
                    </div>
                    <div class="modal-footer"> 
                 </div>

            </div>
        </div>
    </div>
</div>
<div class="modal modalPage fade" id="loginModal" role="dialog" type="prompt" tabindex="20">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <ul class="nav nav-tabs nav-justified modal-header">
                <li class="modal-title active"><a data-toggle="tab" href="#nav-login" role="tab" aria-controls="nav-login" aria-selected="true">Login admin</a></li>
                <li class="modal-title"><a data-toggle="tab" href="#nav-signup" role="tab" aria-controls="nav-signup" aria-selected="false"> {{i18n "NEW_ACCOUNT"}}</a></li>
                <button class="closeModal btn btn-action" data-dismiss="modal" aria-label="Close"></button>
            </ul>
            <div class="tab-content" id="nav-tabContent">
                <div id="nav-login" role="tabpanel" aria-labelledby="nav-login-tab" class="modal-body tab-pane fade in active">
                 
                    <div class="modal-message">
                            <input type="text" class="form-control" id="login" name="modalLogin" placeholder="{{i18n "NICKNAME"}}" required autofocus/>
                            <input type="password" class="form-control" id="password" name="modalPassword" placeholder="{{i18n "PASSWORD"}}" required>
                    </div>
                    <div></div>
                    <div>
                        <button type="button" class="btn btn-default login" data-dismiss="xxxmodalxxx">
                            <i class="glyphicon glyphicon-ok"></i>
                        </button>
                    </div>
                </div>
                <div  id="nav-signup" role="tabpanel" aria-labelledby="nav-signup-tab" class="modal-body tab-pane fade">
                    <div class="">
                            <input type="text" class="form-control" id="signupLogin" name="modalLogin" placeholder="{{i18n "NICKNAME"}}" required autofocus/>
                            <input type="password" class="form-control" id="signupPassword" name="modalPassword" placeholder="{{i18n "PASSWORD"}}" required>
                            <input type="password" class="form-control" id="signupPasswordConfirmation" name="modalPassword" placeholder="{{i18n "PASSWORDCONF"}}" required>
                            <br/>
                            <select class="form-control" id="signupRole" name="modalRole">
                                <!-- <option value="guest">{{i18n "GUEST"}}</option> -->
                                <option value="user" selected>{{i18n "USER"}}</option>
                                <option value="admin">{{i18n "ADMIN"}}</option>
                            </select>
                    </div>
                    <div>
                        <button id="signup" type="button" class="btn btn-default login" data-dismiss="xxxmodalxxx">
                                {{i18n "SIGN_UP"}}
                        </button>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>

</div>
<div class="overlay">
    <video id="video" src="" type="video/mp4" autoplay>
    </video>
</div>