<div id="progressBar" class="underHeader mode1">
    <div id="karaInfo" idKara="-1" ondragstart="return false" draggable="false"><span>{{i18n "KARA_PAUSED_WAITING"}}<span></div>
    <div id="progressBarColor" class="cssTransform"></div>
</div>
<div id="underHeader" class="underHeader container-fluid mode1">
     <div class="playlist-main row" id="playlist">
        <div class="panel col-lg-4 col-md-5 col-msm-12 col-sm-12 col-xs-12" id="panel1" side="1">
            <div class="playlistContainer">
                <ul id="playlist1" side="1" class="list-group">
                </ul>
           </div>
        </div>
         
        <div class="panel col-lg-8 col-md-7 col-msm-12 col-sm-12 col-xs-12" id="panel2" side="2">
           <div class="panel-heading container-fluid plDashboard">
                <div class="col-lg-8 col-md-7 col-sm-6 col-xs-6 plSelect hidden">
                    <select id="selectPlaylist2" side="2" type="playlist_select" class="select2 form-control">
                        <option value="" selected>...</option>
                    </select>
                </div>
                <div class="flagsContainer hidden">
                    <div class="btn-group plCommands flags hidden" id="flag2">
                        <button class="btn btn-lg btn-default" name="export">
                            <i class="glyphicon glyphicon-export"></i>
                        </button>
                        <button class="btn btn-lg btn-default" name="flag_current">
                            <i class="glyphicon glyphicon-facetime-video"></i>
                        </button>
                        <button class="btn btn-lg btn-default" name="flag_public">
                            <i class="glyphicon glyphicon-globe"></i>
                        </button>
                        <button class="btn btn-lg btn-default" name="flag_visible">
                            <i class="glyphicon glyphicon-eye-close"></i>
                        </button>
                    </div>
                </div>
                 <div class="pull-left plSearch">
                    <input type="text" class="form-control input-md" side="2" id="searchPlaylist2" placeholder="&#xe003;" name="searchPlaylist"/>
                </div>
            </div>
            
            <div class="playlistContainer">
                <ul id="playlist2" side="2" class="list-group">
                    <li class="list-group-item"></li>
                </ul>
            </div>
             <div class="plFooter">
                <div class="plBrowse">
                    <button title="{{i18n "GOTO_TOP"}}" class="btn btn-sm btn-action" action="goTo" value="top"><i class="glyphicon glyphicon glyphicon-menu-up"></i></button>
                    <button title="{{i18n "GOTO_PLAYING"}}" class="btn btn-sm btn-action" action="goTo" value="playing"><i class="glyphicon glyphicon glyphicon-play"></i></button>
                    <button title="{{i18n "GOTO_BOTTOM"}}" class="btn btn-sm btn-action" action="goTo" value="bottom"><i class="glyphicon glyphicon glyphicon-menu-down"></i></button>
                </div>
                <div class="plInfos"></div>
            </div>
        </div>
    </div>
</div>
<div class="toastMessageContainer">
</div>
<div class="fixed-action-btn left click-to-toggle" id="mobileActions">
    <a class="btn-floating btn-large waves-effect z-depth-3" id="menuMobile"  style="background-color:#123456" data-opened=false>
        <i class="glyphicon glyphicon-menu-hamburger"></i>
    </a>
    <ul style="opacity: 0; display: none;">
        <li><a class="z-depth-3 btn-floating btn-large" onclick="endOfTheWorldAsWeKnowIt();" style="background-color:hsla(0, 71%, 14%, .4)"><i class="glyphicon glyphicon-gift"></i></a></li>
        <li><a class="z-depth-3 btn-floating btn-large showSettings" style="background-color:#613114"><i class="glyphicon glyphicon-question-sign"></i></a></li>
   </ul>
</div>
<div class="modal fade" id="modalBox" role="dialog" tabindex="2">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="modal-message">
                
                </div>
                <div class="form">
                    <input type="text" class="form-control" id="modalInput" name="modalInput"    />
                </div>
            </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-action btn-primary other" data-dismiss="modal">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
                <button type="button" class="btn btn-action btn-default ok" data-dismiss="modal">
                    <i class="glyphicon glyphicon-ok"></i>
                </button>
            </div>
        </div>
    </div>
</div>
 <div class="popup" id="settingsPublic" hidden>
    <span id="settingsPublicTitle">  {{i18n "CL_HELP"}} </span>
    <span id="settingsPublicContent">
        <div id="mobileHelp" class="col-lg-12 col-xs-12" style="line-height:1.8em;">
            {{{ i18n "CL_HELP_PUBLIC_CONTENT" }}}
            <br/>
            <hr>
        </div>
            <div class="col-lg-3 col-xs-3">
                <b>{{i18n "MODE"}}</b>
                <br/>
                <b>{{i18n "VERSION"}}</b>
                <br/>
            </div>
            <div class="col-lg-9 col-xs-9">
                <span id="mode"></span>
                <br/>
                    <span id="version"></span>
                <br/>
            </div>
    </span>
</div>

<div class="overlay">
     <video id="video" type="video/mp4" autoplay>
    </video>
</div>