
<div id="progressBar" class="underHeader" introStep="5" introLabel="progressbar">
    <div id="karaInfo" idKara="-1" ondragstart="return false" draggable="false"><span>{{i18n "KARA_PAUSED_WAITING"}}<span></div>
    <div id="progressBarColor" class="cssTransform"></div>
</div>
<div id="header" class="header"  introStep="7" introLabel="search">
    <div class="col-lg-8 col-md-7 col-msm-12  col-sm-12 col-xs-12 headerInputs">
        <button type="button" class="searchMenuButton collapsed btn btn-sm btn-default" introStep="15" introLabel="favorites" data-toggle="collapse" data-target="#searchMenu1" aria-expanded="false">
            <i class="glyphicon glyphicon-filter"></i>
        </button>        
        
        <div class="plSearch" id="searchParent" style="width: 100%;">
            <input type="text" class="form-control" id="searchPlaylist1" side="1" placeholder="&#xe003;" name="searchPlaylist"/>
        </div>
        <button title="{{i18n "GET_LUCKY"}}" class="btn btn-lg btn-action btn-default getLucky  hidden-msm hidden-xs hidden-sm">
            <img src="/ressources/img/clover.png">
        </button>
        <div class="hidden-msm hidden-sm hidden-xs pseudoChange">
            <input list="pseudo" type="text" id="choixPseudo" class="form-control" placeholder="{{i18n "NICKNAME"}}" />
            <datalist id="pseudo">
            </datalist>
        </div>
    </div>
    <div class="col-lg-4 col-md-5 hidden-msm hidden-sm hidden-xs">
        <div class="dropdown pull-right">
            <button class="btn btn-dark dropdown-toggle klogo" id="menuPC" type="button" data-toggle="dropdown">
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" class="changePseudo"><i class="glyphicon glyphicon-user"></i> {{i18n "ACCOUNT"}}</a></li>
                <li><a href="/admin" id="logAdmin" target="_blank"><i class="glyphicon glyphicon-wrench"></i> Admin</a></li>
                <li><a href="#" class="showSettings"><i class="glyphicon glyphicon-info-sign"></i> {{i18n "HELP"}}</a></li>
                <li><a href="#" onclick="endOfTheWorldAsWeKnowIt();"><i class="glyphicon glyphicon-gift"></i> {{i18n "4TH_IMPACT"}}</a></li>
                <li><a href="#" class="logout"><i class="glyphicon glyphicon-log-out"></i> {{i18n "LOGOUT"}}</a></li>
            </ul>
        </div>
        <div class="pull-right btn-group switchParent">
            <button class='btn btn-default showPoll hidden'>
                <i class="glyphicon glyphicon-stats"></i>
            </button>
            <span class="hidden">
                <input title='{{i18n "SWITCH_SEARCH_VIEW"}}' type="checkbox" value="1" name="kara_panel" class="btn btn-default pull-right" data-on-text="<i class='glyphicon glyphicon-menu-hamburger'></i>"
                    data-off-text="<i class='glyphicon glyphicon-search'></i>" data-size="large" />
            </span> 
            <input title='{{i18n "SWITCH_BAR_INFOS"}}' type="checkbox" value="1" name="lyrics" class="btn btn-default pull-left" data-on-text="<i class='glyphicon glyphicon-subtitles'></i>"
                data-off-text="<i class='glyphicon glyphicon-info-sign'></i>" data-size="large" />
        </div>
    </div>
</div>
 
<div id="underHeader" class="underHeader container-fluid"  introStep="10" introLabel="kara">
    <div class="playlist-main row" id="playlist">
        <div class="panel col-lg-8 col-md-7 col-msm-12 col-sm-12 col-xs-12" id="panel1" side="1" introStep="9" introLabel="searchresult">
                        
            <nav class="navbar navbar-default  searchMenuContainer">
                <div class="searchMenu container collapse" id="searchMenu1">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    
                    <ul class="nav navbar-nav">
                         <li val="-1" searchType="serie" class="tagFilter">
                            <span class='value'>
                                <span class="tagsTypesContainer">
                                    <select type="text" class="tagsTypes form-control select2 value" placeholder="Search">
                                    </select>
                                </span>
                                <span class="tagsContainer">
                                    <select type="text" class="tags form-control select2 value" placeholder="Search">
                                    </select>
                                </span>
                            </span>
                            <a class="choice" href="#"><i class="glyphicon glyphicon-filter"></i> {{i18n "FILTER"}}</a>
                        </li>
                        <li val="-1" class="active"><a class="choice" href="#"><i class="glyphicon glyphicon-sort-by-alphabet"></i> {{i18n "VIEW_STANDARD"}}</a></li>
            
                        <li val="-5"><a class="choice" href="#"><i class="glyphicon glyphicon-star"></i> {{i18n "VIEW_FAVORITES"}}</a></li>
                        <li val="-1" searchType="recent" ><a class="choice" href="#"><i class="glyphicon glyphicon-time"></i> {{i18n "VIEW_RECENT"}}</a></li>
                        <li val="-1" searchType="popular" ><a class="choice" href="#"><i class="glyphicon glyphicon-fire"></i> {{i18n "VIEW_POPULAR"}}</a></li>
                        <!-- 
                           <li>
                            <span class='value'>
                                <select type="text" id="series" class="form-control select2 value" placeholder="Search">
                                </select>
                            </span>
                            <a class="choice" href="#">Series</a>
                        </li>
                         -->
                     
                       
                    </ul>             
                </div><!-- /.container-fluid -->
            </nav>
            <div class="plDashboard" >
                <div class="plSelect">
                    <select id="selectPlaylist1" side="1" hidden >
                        <option value="-1" default data-playlist_id="-1"></option>>
                        <option value="-6" data-playlist_id="-6"></option>
                        <option value="-5" data-playlist_id="-5"></option>
                    </select>
                </div>
            </div>
            <div class="playlistContainer" >
                <ul id="playlist1" side="1" class="list-group" >
                </ul>
           </div>
            <div class="plFooter" introStep="13" introLabel="footer" introPosition="right">
				<div class="right">
					<div class="plBrowse">
						<button title="{{i18n "GOTO_TOP"}}" class="btn btn-sm btn-action" action="goTo" value="top"><i class="glyphicon glyphicon glyphicon-menu-up"></i></button>
						<button title="{{i18n "GOTO_PLAYING"}}" class="btn btn-sm btn-action" action="goTo" value="playing"><i class="glyphicon glyphicon glyphicon-play"></i></button>
						<button title="{{i18n "GOTO_BOTTOM"}}" class="btn btn-sm btn-action" action="goTo" value="bottom"><i class="glyphicon glyphicon glyphicon-menu-down"></i></button>
					</div>
					<div class="plInfos"></div>
				</div>
                <div class="left">
					<div id="plQuota" class="plQuota right"></div>
				</div>
            </div>
        </div>

        <div class="panel col-lg-4 col-md-5 col-msm-12 col-sm-12 col-xs-12" id="panel2" side="2">
           <div class="panel-heading container-fluid plDashboard">
                <div class="col-lg-8 col-md-7 col-sm-6 col-xs-6 plSelect">
                    <select id="selectPlaylist2" side="2" type="playlist_select" class="select2 form-control">
                        <option value="" selected>...</option>
                    </select>
                </div>
                <div class="flagsContainer hidden">
                    <div class="btn-group plCommands flags hidden" id="flag2">
                        <button class="btn btn-lg btn-default" name="export">
                            <i class="glyphicon glyphicon-export"></i>
                        </button>
                        <button class="btn btn-lg btn-default" name="flag_current">
                            <i class="glyphicon glyphicon-facetime-video"></i>
                        </button>
                        <button class="btn btn-lg btn-default" name="flag_public">
                            <i class="glyphicon glyphicon-globe"></i>
                        </button>
                        <button class="btn btn-lg btn-default" name="flag_visible">
                            <i class="glyphicon glyphicon-eye-close"></i>
                        </button>
                    </div>
                </div>
                 <div class="pull-left plSearch">
                    <input type="text" class="form-control input-md" side="2" id="searchPlaylist2" placeholder="&#xe003;" name="searchPlaylist"/>
                </div>
            </div>

            <div class="playlistContainer">
                <ul id="playlist2" side="2" class="list-group">
                    <li class="list-group-item"></li>
                </ul>
            </div>
             <div class="plFooter">
                <div class="plBrowse">
                    <button title="{{i18n "GOTO_TOP"}}" class="btn btn-sm btn-action" action="goTo" value="top"><i class="glyphicon glyphicon glyphicon-menu-up"></i></button>
                    <button title="{{i18n "GOTO_PLAYING"}}" class="btn btn-sm btn-action" action="goTo" value="playing"><i class="glyphicon glyphicon glyphicon-play"></i></button>
                    <button title="{{i18n "GOTO_BOTTOM"}}" class="btn btn-sm btn-action" action="goTo" value="bottom"><i class="glyphicon glyphicon glyphicon-menu-down"></i></button>
                </div>
                <div class="plInfos"></div>
            </div>
        </div>
    </div>
</div>
<div class="toastMessageContainer">
</div>
<div class="fixed-action-btn right right2 click-to-toggle" id="mobileActions">
    <a class="btn-floating btn-large waves-effect z-depth-3 showPoll hidden">
        <i class="glyphicon glyphicon-stats"></i>
    </a>
</div>
<div class="fixed-action-btn right click-to-toggle" id="mobileActions">
    <a class="btn-floating btn-large waves-effect z-depth-3 klogo" id="menuMobile"  style="background-color:#1b4875; border: .5px solid #FFFFFF12;" data-opened=false>
    </a>
    <ul style="opacity: 0; display: none;" introStep="21" introLabel="menu">
        <li><a class="z-depth-3 btn-floating btn-large" onclick="endOfTheWorldAsWeKnowIt();" style="background-color:hsla(0, 71%, 14%, .4)"><i class="glyphicon glyphicon-gift"></i></a></li>
        <li><a class="z-depth-3 btn-floating btn-large logout"  style="background-color:#111"><i class="glyphicon glyphicon-log-out"></i> </a></li>
        <li><a class="z-depth-3 btn-floating btn-large getLucky"  style="background-color:#111">   <img style="height: 80%;margin-top: 10%" src="/ressources/img/clover.png"></a></li>
        <li><a class="z-depth-3 btn-floating btn-large showSettings" style="background-color:#613114"><i class="glyphicon glyphicon-question-sign"></i></a></li>
        <li><a class="z-depth-3 btn-floating btn-large changePseudo" id="changePseudo" style="background-color:#431b50"><i class="glyphicon glyphicon-user"></i></a></li>
        <li><a class="z-depth-3 btn-floating btn-large" id="switchInfoBar" style="background-color:#125633">
            <i class="glyphicon glyphicon-info-sign infos"></i><i class="glyphicon glyphicon-subtitles lyrics"></i></a></li>
    </ul>
</div>
<div class="modal fade" id="modalBox" role="dialog" tabindex="2">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="modal-message">

                </div>
                <div class="form">
                    <input type="text" class="form-control" id="modalInput" name="modalInput"    />
                </div>
            </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-action btn-primary other" data-dismiss="modal">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
                <button type="button" class="btn btn-action btn-default ok" data-dismiss="modal">
                    <i class="glyphicon glyphicon-ok"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal modalPage fade" id="pollModal" role="dialog" tabindex="30">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <ul class="nav nav-tabs nav-justified modal-header">
                <li class="modal-title active">
                    <a data-toggle="tab" href="#nav-poll" role="tab" aria-controls="nav-poll" aria-selected="true" style="font-weight: bold;">
                    {{i18n "POLLTITLE"}}</a>
                </li>
                <button class="closeModal btn btn-action" data-dismiss="modal" aria-label="Close"></button>
                                <span class="timer"></span>

            </ul>
            <div class="tab-content" id="nav-tabContent">
                <div id="nav-poll" role="tabpanel" aria-labelledby="nav-poll-tab" class="modal-body tab-pane fade in active">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modalPage fade" id="loginModal" role="dialog" type="prompt" tabindex="20">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <ul class="nav nav-tabs nav-justified modal-header">
                <li class="modal-title active"><a data-toggle="tab" href="#nav-login" role="tab" aria-controls="nav-login" aria-selected="true"> {{i18n "LOGIN"}}</a></li>
                <li class="modal-title"><a data-toggle="tab" href="#nav-signup" role="tab" aria-controls="nav-signup" aria-selected="false"> {{i18n "NEW_ACCOUNT"}}</a></li>
                <button class="closeModal btn btn-action" data-dismiss="modal" aria-label="Close"></button>
            </ul>
            <div class="tab-content" id="nav-tabContent">
                <div id="nav-login" role="tabpanel" aria-labelledby="nav-login-tab" class="modal-body tab-pane fade in active">
                    <div class="tour hidden">
                     {{i18n "FIRST_PUBLIC_RUN_WELCOME"}}
                    </div>
                    <div class="modal-message tour">
                        <button class="btn btn-default tour">
                             {{i18n "FOLLOW_TOUR"}}
                        </button>
                    </div>
                    <div class="tour">
                     {{i18n "OR"}}
                    </div>
                    <div class="modal-message">
                        <button class="btn btn-default guest">
                             {{i18n "GUEST_CONTINUE"}}
                        </button>
                    </div>
                    <div class="loginRelated">
                     {{i18n "OR"}}
                    </div>
                    <div class="modal-message loginRelated">
                            <input type="text" class="" id="login" name="modalLogin" placeholder="{{i18n "NICKNAME"}}" required autofocus/>
                            <input type="text" class="" id="loginServ" name="modalLoginServ" value="{{ onlineHost }}"/>
                            <input type="password" class="form-control" id="password" name="modalPassword" placeholder="{{i18n "PASSWORD"}}" required>
                    </div>
                    <div class="loginRelated"></div>
                    <div class="loginRelated">
                        <button type="button" class="btn btn-default login" data-dismiss="xxxmodalxxx">
                            <i class="glyphicon glyphicon-ok"></i>
                        </button>
                    </div>
                </div>
                <div  id="nav-signup" role="tabpanel" aria-labelledby="nav-signup-tab" class="modal-body tab-pane fade">
                    <div class="">
                            <input type="text" class="" id="signupLogin" name="modalLogin" placeholder="{{i18n "NICKNAME"}}" required autofocus/>
                            <input type="text" class="" id="signupServ" name="modalLoginServ" value="{{ onlineHost  }}"/>
                            <input type="password" class="form-control" id="signupPassword" name="modalPassword" placeholder="{{i18n "PASSWORD"}}" required>
                            <input type="password" class="form-control" id="signupPasswordConfirmation" name="modalPassword" placeholder="{{i18n "PASSWORDCONF"}}" required>
                    </div>
                    <div>
                        <button id="signup" type="button" class="btn btn-default login" data-dismiss="xxxmodalxxx">
                             {{i18n "SIGN_UP"}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modalPage fade" id="profilModal" role="dialog" type="prompt" tabindex="21">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <ul class="nav nav-tabs nav-justified modal-header">
                <li class="modal-title active"><a data-toggle="tab" href="#nav-profil" role="tab" aria-controls="nav-profil" aria-selected="true"> {{i18n "PROFILE"}}</a></li>
                <li class="modal-title"><a data-toggle="tab" href="#nav-userlist" role="tab" aria-controls="nav-userlist" aria-selected="false"> {{i18n "USERLIST"}}</a></li>
                <button class="closeModal btn btn-action" data-dismiss="modal" aria-label="Close"></button>
            </ul>
            <div class="tab-content" id="nav-tabContent">
                <div id="nav-profil" role="tabpanel" aria-labelledby="nav-profil-tab" class="modal-body tab-pane fade in active">
                    <div class="profileContent">

                            <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12">

                                <label for="avatar" title='{{i18n "AVATAR_IMPORT"}}' class="btn btn-default plGenericButton avatar" name="import">
                                    <img class="img-circle" name="avatar_file"
                                     src="/avatars/blank.png"
                                     alt="User Pic">
                                    <input id="avatar" class="import-file" type="file" accept="image/*" style="display: none;"/>
                                </label>
                                <p name="login"></p>
                            </div>
                            <div class="col-md-9 col-lg-9 col-xs-12 col-sm-12 profileData">
                                <div class="profileLine">
                                    <i class="glyphicon glyphicon-user"></i>
                                    <input class="form-control" name="nickname" type="text" placeholder="{{{ i18n "PROFILE_USERNAME" }}}"/>
                                </div>
                                <div class="profileLine">
                                    <i class="glyphicon glyphicon-envelope"></i>
                                    <input class="form-control" name="email" type="text" placeholder="{{{ i18n "PROFILE_MAIL" }}}"/>
                                </div>
                                <div class="profileLine">
                                    <i class="glyphicon glyphicon-link"></i>
                                    <input class="form-control" name="url" type="text" placeholder="{{{ i18n "PROFILE_URL" }}}"/>
                                </div>
                                <div class="profileLine">
                                    <i class="glyphicon glyphicon-leaf"></i>
                                    <input class="form-control" name="bio" type="text" placeholder="{{{ i18n "PROFILE_BIO" }}}"/>
                                </div>
                                <div class="profileLine">
                                    <i class="glyphicon glyphicon-lock"></i>
                                    <input class="form-control" name="password" type="password" placeholder="{{{ i18n "PROFILE_PASSWORD" }}}"/>
                                    <input class="form-control passwordConfirmation" type="password" placeholder="{{{ i18n "PROFILE_PASSWORDCONF" }}}" style="margin-left: 3px;"/>
                                </div>
                                <div class="profileLine">
                                    <i class="glyphicon glyphicon-star"></i>
                                    <label for="favImport" type="button"  title='{{i18n "FAVORITES_IMPORT"}}' class="btn btn-action btn-default col-xs-6 col-lg-6 favImport">
                                        <i class="glyphicon glyphicon-import"></i> {{i18n "IMPORT"}}
                                        <input id="favImport" class="import-file" type="file" accept=".kmplaylist" style="display: none;"/>
                                    </label>
                                    <button type="button"  title='{{i18n "FAVORITES_EXPORT"}}' class="btn btn-action btn-default col-xs-6 col-lg-6 favExport">
                                        <i class="glyphicon glyphicon-export"></i> {{i18n "EXPORT"}}
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="nav-userlist" role="tabpanel" aria-labelledby="nav-userlist-tab" class="modal-body tab-pane fade in">
                        <div class="userlist list-group col-md-12 col-lg-12 col-xs-12 col-sm-12">

                        </div>
                    </div>
                    <div class="modal-footer">
                        
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal modalPage fade" role="dialog" type="prompt" tabindex="22" id="settingsPublic" hidden>
     <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <ul class="nav nav-tabs nav-justified modal-header">
                <li class="modal-title active"><a data-toggle="tab" href="#nav-help" role="tab" aria-controls="nav-login" aria-selected="true"> {{i18n "CL_HELP"}} </a></li>
                <button class="closeModal btn btn-action" data-dismiss="modal" aria-label="Close"></button>
            </ul>
            <div class="tab-content" id="nav-tabContent-help">
                <div id="nav-help" role="tabpanel" aria-labelledby="nav-help-tab" class="modal-body tab-pane fade in active">
                        <div id="mobileHelp" class="text">
                            {{{ i18n "CL_HELP_PUBLIC_MOBILE" }}}
                        </div>
                        <div class="text">
                            {{{ i18n "CL_HELP_DISCORD" }}}   
                            <br/>   
                        </div> 
                        <div class="modal-message tour">
                            <button class="btn btn-default tourAgain">
                                    {{i18n "FOLLOW_TOUR"}}
                            </button>
                        </div>
                            <hr>
                        <div class="col-lg-3 col-xs-3">
                            <b>{{i18n "MODE"}}</b>
                            <br/>
                            <b>{{i18n "VERSION"}}</b>
                            <br/>
                        </div>
                        <div class="col-lg-9 col-xs-9">
                            <span id="mode"></span>
                            <br/>
                                <span id="version"></span>
                            <br/>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modalPage fade" role="dialog" type="prompt" tabindex="23" id="helpModal" hidden>
     <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <ul class="nav nav-tabs nav-justified modal-header">
                <li class="modal-title active"><a data-toggle="tab" href="#nav-help" role="tab" aria-controls="nav-login" aria-selected="true"> {{i18n "CL_HELP_INSTRUCTIONS"}} </a></li>
            </ul>
            <div class="tab-content" id="nav-tabContent-help">
                <div id="nav-help" role="tabpanel" aria-labelledby="nav-help-tab" class="modal-body tab-pane fade in active">
                    <div id="mobileHelp" class="text">
                        {{{ i18n "CL_HELP_PUBLIC_MOBILE" }}}
                        <br/>
                        {{{ i18n "CL_HELP_HELP" }}}
                    </div>
                    <div class="modal-message">
                        <button data-dismiss="modal" class="btn btn-default confirm">
                             <i class="glyphicon glyphicon-ok"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="overlay">
     <video id="video" type="video/mp4" autoplay>
    </video>
</div>