<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Karaoke Mugen </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS -->

        <link rel="stylesheet" href="/vendors/css/bootstrap.min.css">
    	<link rel="stylesheet" href="/vendors/css/perfect-scrollbar.min.css">
        <link rel="stylesheet" href="/ressources/css/main.css">
  	  	<link rel="stylesheet" href="/ressources/css/karaokemugen.css">
    </head>

    <body id="body">

	    <!--
	    Header start
	    ==================== -->
	    <div class="navbar-default navbar-fixed-top" id="navigation">
	        <div class="container">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	            </div>

	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <nav class="collapse navbar-collapse" id="navbar">
	                <ul class="nav navbar-nav navbar-right" id="top-nav">
	                    <li class="current hidden" ><a href="#body">Home</a></li>
	                    <li><a href="#about" class="hidden">{{i18n "WLCM_ABOUTUS"}}</a></li>
	                    <li><a href="http://mugen.karaokes.moe/contact.html" target="_blank"><i class="glyphicon glyphicon-pencil"></i> {{i18n "WLCM_CONTACT"}}</a></li>
	                    <li><a href="http://mugen.karaokes.moe/" target="_blank"><i class="glyphicon glyphicon-link"></i> {{i18n "WLCM_SITE"}}</a></li>
	                    <li><a href="#" id="wlcm_login"><i class="glyphicon glyphicon-user"></i> <span>{{i18n "NOT_LOGGED"}}</span></a></li>
	                    <li id="wlcm_disconnect" style="display:none" ><a href="#"  title="{{i18n "LOGOUT"}}" class="logout" ><i class="glyphicon glyphicon-log-out"></i> <span>{{i18n "LOGOUT"}}</span></a></li>
	                </ul>
	            </nav><!-- /.navbar-collapse -->
	        </div><!-- /.container-fluid -->
	    </div>

	    <section id="center-area">
	        <div class="container">
	            <div class="row">
	                <div class="col-md-12 logoDiv">
	                        <h1 class="wow">
								<img class="logo-1" height="122" src="/ressources/img/Logo-final-fond-transparent.png" alt="LOGO" >
							</h1>
	                </div>
					<div class="col-md-12 text-center catchPhrase" >
						{{{ catchphrases }}}
					</div>
	                <div class="col-md-12 block wow menu zoomIn">

							<ul id="welcome_dashboard">
								<li class="manage">
									<div class="dash days_dash">
										<i class="digit glyphicon glyphicon-list normalText"></i>
										<i class="digit glyphicon glyphicon-hand-right tutorialText"></i>
										<div class="dash_title normalText">{{i18n "WLCM_KARAMANAGER"}}</div>
										<div class="dash_title tutorialText">{{i18n "WLCM_GETSTARTED"}}</div>
									</div>
								</li>
								<li>
									<div class="dash hours_dash">
										<i class="digit glyphicon glyphicon-cog"></i>
										<div class="dash_title">{{i18n "WLCM_ADMINISTRATION"}}</div>
									</div>
								</li>
								<li>
									<div class="dash seconds_dash">
										<i class="digit glyphicon glyphicon-user"></i>
										<div class="dash_title">{{i18n "WLCM_PUBLIC"}}</div>
									</div>
								</li>
								<li class="hidden">
									<div class="dash seconds_dash">
										<i class="digit glyphicon glyphicon-refresh"></i>
										<div class="dash_title">{{i18n "WLCM_UPDATE"}}</div>
									</div>
								</li>
								<li>
									<div class="dash minutes_dash">
										<i class="digit glyphicon glyphicon-question-sign"></i>
										<div class="dash_title">{{i18n "WLCM_HELP"}}</div>
									</div>
								</li>
							</ul>

	                </div>
					<div class="col-md-12 wow block zoomIn perfectScrollbar">
						<ul class="news">

						</ul>

					</div>
	            </div><!-- .row close -->
	        </div><!-- .container close -->
	    </section><!-- header close -->

	<div class="modal modalPage fade" id="profilModal" role="dialog" type="prompt" tabindex="21">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<ul class="nav nav-tabs nav-justified modal-header">
					<li class="modal-title active"><a data-toggle="tab" href="#nav-profil" role="tab" aria-controls="nav-profil" aria-selected="true"> {{i18n "PROFILE"}}</a></li>
					<li class="modal-title"><a data-toggle="tab" href="#nav-userlist" role="tab" aria-controls="nav-userlist" aria-selected="false"> {{i18n "USERLIST"}}</a></li>
			        <button class="closeModal btn btn-action" data-dismiss="modal" aria-label="Close"></button>
				</ul>
				<div class="tab-content" id="nav-tabContent">
					<div id="nav-profil" role="tabpanel" aria-labelledby="nav-profil-tab" class="modal-body tab-pane fade in active">
						<div class="profileContent">

								<div class="col-md-3 col-lg-3 col-xs-12 col-sm-12">

									<label for="avatar" title='{{i18n "AVATAR_IMPORT"}}' class="btn btn-default plGenericButton avatar" name="import">
										<img class="img-circle" name="avatar_file"
										 src="/avatars/blank.png"
										alt="User Pic">
										<input id="avatar" class="import-file" type="file" accept="image/*" style="display: none;"/>
									</label>
									<p name="login"></p>
								</div>
								<div class="col-md-9 col-lg-9 col-xs-12 col-sm-12 profileData">
									<div class="profileLine">
										<i class="glyphicon glyphicon-user"></i>
										<input class="form-control" name="nickname" type="text" placeholder="{{{ i18n "PROFILE_USERNAME" }}}"/>
									</div>
									<div class="profileLine">
										<i class="glyphicon glyphicon-envelope"></i>
										<input class="form-control" name="email" type="text" placeholder="{{{ i18n "PROFILE_MAIL" }}}"/>
									</div>
									<div class="profileLine">
										<i class="glyphicon glyphicon-link"></i>
										<input class="form-control" name="url" type="text" placeholder="{{{ i18n "PROFILE_URL" }}}"/>
									</div>
									<div class="profileLine">
										<i class="glyphicon glyphicon-leaf"></i>
										<input class="form-control" name="bio" type="text" placeholder="{{{ i18n "PROFILE_BIO" }}}"/>
									</div>
									<div class="profileLine">
										<i class="glyphicon glyphicon-lock"></i>
										<input class="form-control" name="password" type="password" placeholder="{{{ i18n "PROFILE_PASSWORD" }}}"/>
										<input class="form-control passwordConfirmation" type="password" placeholder="{{{ i18n "PROFILE_PASSWORDCONF" }}}" style="margin-left: 3px;"/>
									</div>
								</div>
                                <div class="profileLine">
                                    <button type="button"  title='{{i18n "PROFILE_CONVERT"}}' class="btn btn-primary btn-action btn-default col-xs-12 col-lg-12 profileConvert">
                                        <i class="glyphicon glyphicon-retweet"></i> {{i18n "PROFILE_CONVERT"}}
                                    </button>
									<button type="button" title='{{i18n "PROFILE_ONLINE_DELETE"}}' class="btn btn-primary btn-action btn-default col-xs-12 col-lg-12 profileDelete">
                                        <i class="glyphicon glyphicon-retweet"></i> {{i18n "PROFILE_ONLINE_DELETE"}}
                                    </button>
                                </div>
							</div>
						</div>
						<div id="nav-userlist" role="tabpanel" aria-labelledby="nav-userlist-tab" class="modal-body tab-pane fade in">
							<div class="userlist list-group col-md-12 col-lg-12 col-xs-12 col-sm-12">

							</div>
						</div>
						<div class="modal-footer">

						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
<div class="modal modalPage fade" id="loginModal" role="dialog" type="prompt" tabindex="20">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <ul class="nav nav-tabs nav-justified modal-header">
                <li class="modal-title active"><a data-toggle="tab" href="#nav-login" role="tab" aria-controls="nav-login" aria-selected="true"> {{i18n "LOGIN"}}</a></li>
                <li class="modal-title"><a data-toggle="tab" href="#nav-signup" role="tab" aria-controls="nav-signup" aria-selected="false"> {{i18n "NEW_ACCOUNT"}}</a></li>
                <button class="closeModal btn btn-action" data-dismiss="modal" aria-label="Close"></button>
            </ul>
            <div class="tab-content" id="nav-tabContent">
                <div id="nav-login" role="tabpanel" aria-labelledby="nav-login-tab" class="modal-body tab-pane fade in active">
                    <div class="tour hidden">
                     {{i18n "FIRST_PUBLIC_RUN_WELCOME"}}
                    </div>
                    <div class="modal-message tour">
                        <button class="btn btn-default tour">
                             {{i18n "FOLLOW_TOUR"}}
                        </button>
                    </div>
                    <div class="tour">
                     {{i18n "OR"}}
                    </div>
                    <div class="modal-message">
                        <button class="btn btn-default guest">
                             {{i18n "GUEST_CONTINUE"}}
                        </button>
                    </div>
                    <div class="loginRelated">
                     {{i18n "OR"}}
                    </div>
                    <div class="modal-message loginRelated">
                            <input type="text" class="" id="login" name="modalLogin" placeholder="{{i18n "NICKNAME"}}" required autofocus/>
                            <input type="text" class="" id="loginServ" name="modalLoginServ" placeholder="{{i18n "INSTANCE_NAME_SHORT"}}" value="{{ onlineHost }}"/>
                
                            <input type="password" class="form-control" id="password" name="modalPassword" placeholder="{{i18n "PASSWORD"}}" required>
                    </div>
                    <div class="loginRelated"></div>
                    <div class="loginRelated">
                        <button type="button" class="btn btn-default login" data-dismiss="xxxmodalxxx">
                            <i class="glyphicon glyphicon-ok"></i>
                        </button>
                    </div>
                </div>
                <div  id="nav-signup" role="tabpanel" aria-labelledby="nav-signup-tab" class="modal-body tab-pane fade">
                    <div class="">
                        <input type="text" class="" id="signupLogin" name="modalLogin" placeholder="{{i18n "NICKNAME"}}" required autofocus/>
                        <input type="text" class="" id="signupServ" name="modalLoginServ" placeholder="{{i18n "INSTANCE_NAME_SHORT"}}" value="{{ onlineHost  }}"/>                            
                        <input type="password" class="form-control" id="signupPassword" name="modalPassword" placeholder="{{i18n "PASSWORD"}}" required>
                        <input type="password" class="form-control" id="signupPasswordConfirmation" name="modalPassword" placeholder="{{i18n "PASSWORDCONF"}}" required>
                    </div>
                    <div>
                        <button id="signup" type="button" class="btn btn-default login" data-dismiss="xxxmodalxxx">
                             {{i18n "SIGN_UP"}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
	<div class="toastMessageContainer"></div>
        <!-- Js -->
		<script>

	        var query = {{{query}}};
			var scope = 'admin';
            var appFirstRun = {{appFirstRun}} == true;
			welcomeScreen = true;
			var settingsOnOff = {};
		</script>
        <script src="/vendors/js/jquery-3.2.1.min.js"></script>
        <script src="/vendors/js/select2.min.js"></script>
        <script src="/vendors/js/bootstrap.min.js"></script>
		<script src="/vendors/js/i18n.js"></script>

		<script src="/socket.io/socket.io.js"></script>
		<script src="/vendors/js/assignIE.js"></script>
		<script src="/vendors/js/bootstrap-switch.min.js"></script>
		<script src="/vendors/js/jquery-ui.min.js"></script>
		<script src="/vendors/js/jquery.ui.touch-punch.min.js"></script>
		<script src="/vendors/js/hammer.min.js"></script>
		<script src="/vendors/js/hammer-time.min.js"></script>
		<script src="/vendors/js/velocity.min.js"></script>
		<script src="/vendors/js/perfect-scrollbar.jquery.min.js"></script>
		<script src="/vendors/js/intro.js"></script>
		<script src="/vendors/js/sprintf.min.js"></script>
		<script src="/ressources/js/karaokemugen.js"></script>
		<script src="/ressources/js/admin.js"></script>
		<script src="/ressources/js/tools.js"></script>
        <script>
		$(function() {
			$.ajax({
					url: 'public/newsfeed',
					success: function(data) {
						var base = data[0];
						var appli = data[1];
						var mast = data[2];
						var news = [];
						if(base.body && appli.body) {
                            base.body = JSON.parse(base.body);
                            appli.body = JSON.parse(appli.body);
						news =
							[
								{
									html : base.body.feed.entry[0].content._text,
									date : base.body.feed.entry[0].updated._text,
									dateStr : new Date(base.body.feed.entry[0].updated._text).toLocaleDateString(),
									title : i18n.__("BASE_UPDATE") + ' : ' + base.body.feed.title._text + ' - ' + base.body.feed.entry[0].summary._text,
									link : base.body.feed.entry[0].link._attributes.href,
									type: 'base',
								},
								{
									html : appli.body.feed.entry[0].content._text,
									date : appli.body.feed.entry[0].updated._text,
									dateStr : new Date(appli.body.feed.entry[0].updated._text).toLocaleDateString(),
									title : i18n.__("APP_UPDATE") + ' : ' + appli.body.feed.entry[0].title._text + ' - ' + appli.body.feed.entry[0].summary._text,
									link : appli.body.feed.entry[0].link._attributes.href,
									type: 'app',
								},
							];
						}

						if(mast.body) {
                            mast.body = JSON.parse(mast.body);
							for(var i = 0; i<3; i++) {
								news.push({
									html : mast.body.rss.channel.item[i].description._text,
									date : mast.body.rss.channel.item[i].pubDate._text,
									dateStr : new Date(mast.body.rss.channel.item[i].pubDate._text).toLocaleDateString(),
									title : mast.body.rss.channel.item[i].title._text,
									link : mast.body.rss.channel.item[i].link._text,
									type: 'mast',
								});
							}
						}
						news.sort( (a, b) => {
							var dateA = new Date(a.date);
							var dateB = new Date(b.date);
							return dateA < dateB ? 1 : dateA > dateB ? -1 : 0;
						});
						var $news = $('.news');
						news.forEach((e) => {
							$news.append(	'<li class="new" type="' + e.type + '">'
										+	'<p class="new-header"><b>' + e.title + '</b>'
										+	'<a href="' + e.link + '" target="_blank">' + e.dateStr + '</a></p>'
										+	'<p>' + e.html + '</p>'
										+	'</li>');
						});
						$('.new').each((k, e) => {
							if($(e).prop('scrollHeight') > $(e).outerHeight()) {
								$(e).addClass('overflowed');
							}
						});
					}
				});
			$('.perfectScrollbar').perfectScrollbar();
		});

		if( window.location.search.indexOf('admpwd') > -1 ) {
			$('.manage').addClass('tutorial');
		}
		$('#admin').click(() => {
			window.open('/admin' + window.location.search,'_blank');
		});
		$('#wlcm_login').click(() => {
			if(!logInfos.username) {
				$('#loginModal').modal('show');
			} else {
				$('#profilModal').modal('show');
			}
		});

        $('#welcome_dashboard').on('click','li', (e,k) => {
            var index = $(e.currentTarget).index();

            switch(index) {
                case 0: window.open('/admin' + window.location.search,'_blank');
                break;
                case 1: window.open('/system','_blank');
                break;
                case 4: window.open('http://mugen.karaokes.moe/docs/', '_blank');
                break;
                case 2: window.open('/' + window.location.search,'_blank');
                break;
            }

        });

		$('.news').on('click', '.new', function (e) {
			var $target = $(e.target);
			if(!$target.is('a')) {
				var $this = $(this);
				$this.toggleClass('open');
			} else {
				// TODO make something more generic
				if ($target.attr('href').indexOf('/') === 0) {
					e.preventDefault();
					e.stopPropagation();
					window.open('https://lab.shelter.moe' + $target.attr('href'));
				}
			}
		});

        </script>
    </body>
</html>
